<ol>
	<li><span class='mandatoryStar'>*</span>=mandatory field</li>
    <li>
		<%= f.label :blog_category_id, "About<span class='mandatoryStar'>*</span>:"%>
		<%= f.select :blog_category_id, @blog_categories%>
	</li>
	<li>
		<%= f.label :blog_subcategory, "Your email address<span class='mandatoryStar'>*</span>:"%>
		<%= f.text_field :email %>
	</li>
	<li>
		<%= f.label :receive_newsletter, "Subscribe to our newsletter" %>
		<%= f.check_box :receive_newsletter %>
	</li>
	<li>
		<%= f.label :country_id, "Your country<span class='mandatoryStar'>*</span>:"%>
		<%= f.select :country_id, @countries_array %>
	</li>
	<li>
		<%= f.label :body, "Your question<span class='mandatoryStar'>*</span>:"%>
		<%= f.text_area :body %>
	</li>
</ol>
