<h4>Q: <%= h question.body%></h4>
<% question.answers.each do |answer| -%>
<div class="article_photo">
	<%= medium_image(answer.user)%><br/>
	<%= answer.user.try(:name)%><br/>
	<%= answer.created_at %>
</div>
<div class="speechbubble"><%= image_tag 'speechbubble.png'%></div>
<div class="answer_body rounded">
	<%= answer.body%>
</div>
<div class="cleaner"></div>
<br/>
<% end -%>