<%= title "Ask a question"%>
<p><%= site_name_for_country(@country)%>: <%= @number_users%> coaches to answer your questions!</p>
<% form_for @question do |f| -%>

<%= render :partial => 'form', :locals => {:f => f} %>

<div class="buttons">
  <label for=""></label>
  <%= submit_tag 'Send', :name => "save_and_publish"  %>
  <%= submit_tag 'Cancel', :name => "cancel"  %>
</div>
<% end -%>
	