<%= f.error_messages :header_message => "Please try again", :message => "Your subcategory could not be added" %>
<fieldset>
  <legend>New subcategory</legend>
  <ol>
	  <li><span class='mandatoryStar'>*</span>=mandatory field</li>
	<li>
		<%= f.label :category_id, "Category: "%>
		<%= f.select :category_id, @categories.map{|c| [c.name, c.id]}%>
	</li>
	<li>
		<%= f.label :name, "Name<span class='mandatoryStar'>*</span>:"%>
		<%= f.text_field :name%>
	</li>
	<li>
		<%= f.label :description, "Description:"%>
		<%= f.text_area :description, :cols => "35"%>
	</li>
	</ol>
</fieldset>
<p class="register-actions">
  <%= submit_tag "Add", :class => "button submit" %>
	<%= link_to "Cancel", reviewer_url(:action => "index"), :class => "anchor-button cancel" %>
</p>
