Dear <%=@user.first_name%>,<br/>
<br/>
Congratulations on publishing your profile!<br/>
<br/>
What you can NOW do:<br/>
<ul>
<li>Edit your profile when you like (just log in and off you go) LOG-IN LINK</li>
<li>Add as many articles as you like</li>
<li>See your articles beam across our social networks</li>
<li>Facebook: <%= link_to "http://www.facebook.com/pages/BeAmazing-Zingabeam/361000885623", "http://www.facebook.com/pages/BeAmazing-Zingabeam/361000885623" %></li>
<li>Twitter NZ: <%= link_to "https://twitter.com/Beamazingltd", "https://twitter.com/Beamazingltd" %></li>
<li>Twitter Australia: <%= link_to "https://twitter.com/zingabeam", "https://twitter.com/zingabeam"%></li>
<li>View your profiles stats to see how many time you are being seen (log in and click 'statistics')</li>
</ul>
<br/>
How to make your profile REALLY work for you<br/>
<br/>
Coaches are gaining NEW CLIENTS through the directory, this is what the more successful coaches are doing:<br/>
<ul>
<li>Write a great profile: Too short and it looks like you don't have the time to explain properly what you offer</li>
<li>Upgrade to Premium Membership, a photo alone attracts three times as many profile viewings .... $1.33 per week is a very low investment and we highly recommend it!</li>
<li>Add useful articles either once a week or once a month - short, sweet, no-sell and value adding :)</li>
<li>Make use of the Gift Voucher and Trials &amp; Offers sections</li>
</ul>
<br/>
EXTRA support to grow your business<br/>
<br/>
As promised, attached is your free guide: 'Seven Strategies to help your Coaching Business FLY'<br/>
<br/>
We hope it proves useful!<br/>
<br/>
If you are interested in more business development support, here are a couple of links to check out:<br/>
<ul>
<li>The Expert Coach, courses in Australia &amp; NZ in 2012: <%= link_to "http://www.expectcoach.co.nz", "https://www.zingabeam.com/category/courses/courses-coach-training"%></li>
<li>Coach Training Australia: <%= link_to "https://www.zingabeam.com/category/courses/courses-coach-training", "https://www.zingabeam.com/category/courses/courses-coach-training"%></li>
<li>Coach Training New Zealand: <%= link_to "https://www.beamazing.co.nz/category/courses/courses-coach-training", "http://www.linkedin.com/groups?gid=2097679&trk=hb_side_g"%></li>
</ul>
<br/>
FINALLY join our members-only group on Linked-in<br/>
<br/>
We have a group on Linked-in for our members only - it's where we keep you updated on the development of the site AND where you can have your say on what we focus on as we move forward. You'll also get the heads-up on future newsletters and how you can feature in them.<br/>
<br/>
Join here: <%= link_to "http://www.linkedin.com/groups?gid=2097679&trk=hb_side_g", "http://www.linkedin.com/groups?gid=2097679&trk=hb_side_g"%><br/>
<br/>
<br/>
Wishing you the very best,<br/>
<%= render :partial => "signature"  %>