<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="color:#555;"><p>You can also <%= link_to "view this newsletter online", admin_newsletter_path(@newsletter.id) %></p>
<h2 style="color:#000; font-size:24px;font-weight:bold;"><%= @newsletter.title%></h2>
<%= render :partial => "admin/newsletters/show_body", :locals => {:newsletter => @newsletter }  %>
<p>Join us on:
	<ul><li><%= link_to "Linked in",  "http://www.linkedin.com/groups?gid=2097679&trk=hb_side_g", :alt => "Linked in" %></li>
<li><%= link_to "Twitter",  "https://twitter.com/Beamazingltd", :alt => "Twitter" %></li>
<li><%= link_to "Facebook",  "http://www.facebook.com/group.php?gid=105413506506", :alt => "Facebook" %></li>
	</ul>
</p>
<p style="font-size: small;color:lightgrey">If you do not want to receive this newsletter, you can <%= link_to "unsubscribe", @url%>.</p>
</body>
</html>