Dear <%= @user.first_name%>,<br/>
<br/>
Thanks for subscribing via <%= link_to "http://www.beamazing.co.nz", "http://www.beamazing.co.nz"%> or <%= link_to "http://www.zingabeam.com", "http://www.zingabeam.com"%><br/>
<br/>
<strong>As promised</strong>, landing in your inbox are the latest articles published by Coaches, Trainers and Speakers over last couple of weeks - <strong>their passion, knowledge and expertise shared for free with you!</strong><br/>
<br/>
From the team at BeAmazing,<br/>
<strong>Enjoy!</strong><br/>
---<br/>
<h3 style='color:#000; font-size:16px;font-weight:bold;'>Latest Articles</h3>
<% @articles.each do |article| -%>
  <h4 style='color:#20ACCD; font-size:18px;font-weight:bold;'><%= link_to article.title, articles_show_url(article.author.slug, article.slug, :protocol => APP_CONFIG[:site_protocol])%></h4>
  <h5 style='color:#000; font-size:12px;font-weight:bold;'>by <%= article.author.name %> [<%= article.author.location%>]</h5>
  <p>Blog Categories: <%= article.blog_subcategories.map(&:name).to_sentence %></p>
  <p><%= article.lead %></p>
  <p><%= link_to "Read more...", articles_show_url(article.author.slug, article.slug, :protocol => APP_CONFIG[:site_protocol])%></p>
<% end -%>
<ul>
<li><%= link_to "Meet Australian Coaches", full_members_url(:country_code => "au") %></li>
<li><%= link_to "Meet New Zealand Coaches", full_members_url(:country_code => "nz")%></li>
<li><%= link_to "Follow us on Twitter", "https://twitter.com/Beamazingltd"%></li>
<li><%= link_to "Join us on Facebook", "http://www.facebook.com/pages/Be-Amazing-NZs-home-of-health-well-being-and-development/361000885623"%></li>
<li><%= link_to "Unsubscribe", @url%></li>
</ul>