Dear <%= @user.first_name %>,

<p>Just to let you know that your membership officially expires today!</p>
<br/>
<% if @user.member_since_launch_date? -%>
<p>Over the last 12 months you’ve been with us you’ve had:</p>
<ul>
	<li><%=pluralize(@user.visited_user_events.visited_profile.last_12_months.size, "visit")%> to your profile</li>
	<li><%=pluralize(@user.visited_user_events.received_message.last_12_months.size, "email enquiry")%> through BeAmazing</li>
	<li><%=pluralize(@user.visited_user_events.redirect_website.last_12_months.size, "click")%> through to your website</li>
</ul>
<% end -%>
<p>Together let's make a bigger difference to NZ's wellbeing! Renew your membership ($998+gst), click on the link below:</p>
<%= @url %>
<br/>
<%= render :partial => "signature"  %>