<%if selected=="about"%><span class="user-tab-selected">About</span><%else%><%= link_to "About", :controller => "search", :action => "about"%><%end%> |
<%if selected=="goals"%><span class="user-tab-selected">Vision &amp; Goals</span><%else%><%= link_to "Vision &amp; Goals", :controller => "search", :action => "goals"%><%end%> |
<%if selected=="team"%><span class="user-tab-selected">The BAM Team</span><%else%><%= link_to "The BAM Team", :controller => "search", :action => "team"%><%end%> |
<%if selected=="origins"%><span class="user-tab-selected">Origins</span><%else%><%= link_to "Origins", :controller => "search", :action => "origins"%><%end%> |
<%if selected=="charities"%><span class="user-tab-selected">Charities</span><%else%><%= link_to "Charities", :controller => "search", :action => "charities"%><%end%> |
