<% content_for :sidebar_content do -%>
	<% unless @blog_articles.blank? -%>
		<h4>Articles: <%= @blog_cat.name %></h4>
		<ul>
		<% @blog_articles.each do |a| -%>
			<li><%= link_to a.title, articles_show_url(a.author.slug, a.slug)%><br/> by <%= a.author.try(:name)%><br/><span class="monthly_view_counts">Viewed <%= pluralize(a.view_counts, "time")%></span></li>
		<% end -%>
	</ul>
	<% end -%>
<% end -%>

<!-- Intro Starts -->
<div class="intro">
	<%= render :partial => "blog_categories/links", :locals => {:selected => ""} %>
	<% unless @featured_article.nil? -%>
	<h3>Featured author: <%= link_to @featured_article.author.name, user_url_with_context(@featured_article.author), :class => "homepage_article_link" %></h3>
	<%= render :partial => "articles/article_with_photo", :locals => {:article => @featured_article} %>
	<% end -%>
</div>
<!-- Intro Ends -->
<!--News Starts -->

<div id="articles-homepage" class="section">
<div id="subscribe_articles">Articles: <%= link_to "Show all", articles_url(:only_show_own => "false")%> | <%= link_to "Show #{@country.adjective} articles only", articles_url(:only_show_own => "true")%> | <span id="rss"><%= link_to image_tag('rss_icon.png'), "http://feeds.feedburner.com/BeAmazing"%></span><%= link_to "Subscribe to our articles", "http://feeds.feedburner.com/BeAmazing" %></div>
<div class="cleaner"></div>
<% @newest_articles.each do |a| -%>
  <div class="homepage-article">
  <% if a.class.to_s == "HowTo" -%>
    <%= render :partial => "how_tos/how_to", :locals => {:how_to => a }  %>
  <% else -%>
    <%= render :partial => "articles/article", :locals => {:article => a }  %>
  <% end -%>
  </div>
<% end -%>
<!--News Ends -->
  <% if @total_articles > User::NUMBER_HOMEPAGE_FEATURED_USERS -%>
    <p><%= link_to "View more articles &raquo;", articles_url %></p>
  <% end -%>
</div>
