<% content_for :sidebar_content do -%>
	<% unless @popular_articles.blank? -%>
		<h4>Popular articles</h4>
		<ul>
		<% @popular_articles.each do |a| -%>
			<li><%= link_to a.title, articles_show_url(a.author.slug, a.slug)%><br/> by <%= a.author.try(:name)%><br/><span class="monthly_view_counts">Viewed <%= pluralize(a.view_counts, "time")%></span></li>
		<% end -%>
	<% end -%>
		</ul>
<% end -%>

<!-- Intro Starts -->
<div class="intro">
	<% unless @featured_article.nil? -%>
	<h3>Featured author:</h3>
	<%= render :partial => "articles/article_with_photo", :locals => {:article => @featured_article} %>
	<% end -%>
</div>
<!-- Intro Ends -->
<% unless @featured_full_members.empty? -%>
<!--New Full Members Starts -->
<div class="box">
  <h3>Featured Coaches, Speakers &amp; Courses</h3>
  <div id="homepage-full-members">
    <% @featured_full_members.each do |u| -%>
      <div class="homepage-small-user"><%= render :partial => "users/user_small", :locals => {:user => u }  %></div>
    <% end -%>
  </div>
  <% if @total_full_members > User::NUMBER_HOMEPAGE_FEATURED_USERS -%>
  <p class="floatRight"><%= link_to "View more &raquo;", :controller => "full_members", :action => "index"%></p>
  <% end -%>
</div>
<!--New Full Members Ends -->
<% end -%>
<!--News Starts -->

<div id="articles-homepage" class="section"> 
<h3>Featured Articles</h3>
<div class="rss"><%= link_to image_tag('rss_icon.png'), "http://feeds.feedburner.com/BeAmazing"%></div>
<% @newest_articles.each do |a| -%>
  <div class="homepage-article">
  <% if a.class.to_s == "HowTo" -%>
    <%= render :partial => "how_tos/how_to", :locals => {:how_to => a }  %>
  <% else -%>
    <%= render :partial => "articles/article", :locals => {:article => a }  %>
  <% end -%>
  </div>
<% end -%>
<!--News Ends -->
  <% if @total_articles > User::NUMBER_HOMEPAGE_FEATURED_USERS -%>
    <p><%= link_to "View more articles &raquo;", articles_url %></p>
  <% end -%>
</div>
