<% javascript 'users-rollover' %>
<%= title 'Welcome to beamazing.co.nz' %>
<div id="first-home-paragraph">
  <div id="first-home-paragraph-text">
    <p>New Zealand premier site for health, wellbeing and development</p>
    <ul>
      <li>Find wellbeing providers</li>
      <li>Connect with Resident Experts</li>
      <li>Search our &quot;how to&quot; articles</li>
      <li>Find courses &amp; events</li>
    </ul>
  </div>
</div>
<br class="cleaner"/>
<% unless @newest_full_members.empty? -%>
  <h3>New well-being providers</h3>
  <div id="homepage-full-members">
    <% @newest_full_members.each do |u| -%>
      <div class="homepage-small-user user-rollover"><%= render :partial => "users/user_small", :locals => {:user => u }  %></div>
    <% end -%>
  </div>
  <div class="cleaner"></div>
  <% if @total_full_members > $number_full_members_on_homepage -%>
    <%= link_to "View more well-being providers...", users_path %>
  <% end -%>
<% end -%>
<% unless @newest_articles.empty? -%>
  <h3>New articles</h3>
  <ul id="homepage-articles" class="simple">
    <% @newest_articles.each do |a| -%>
      <li class="<%= cycle('odd', 'even')%> ">
        <% if a.class.to_s == "HowTo" -%>
          <%= render :partial => "how_tos/how_to", :locals => {:how_to => a }  %>
        <% else -%>
          <%= render :partial => "articles/article", :locals => {:article => a }  %>
        <% end -%>
      </li>
    <% end -%>
  </ul>
  <% if @total_articles > $number_articles_on_homepage -%>
    <%= link_to "View more articles...", articles_path %>
  <% end -%>
<% end -%>
