<!-- Intro Starts -->
<div class="intro">
  <h2>Be Amazing is New Zealand's home of health, well-being and development</h2>
  <h3>&ndash; helping inspired Kiwis live Amazing lives!</h3>
  <ul>
    <li>Find <%= link_to "Well-being Providers", :controller => "full_members", :action => "index"%></li>
    <li>Connect with <%= link_to "Resident Experts", :controller => "resident_experts", :action => "index"%></li>
    <li>Search our <%= link_to "Articles", :controller => "articles", :action => "index"%></li>
    <li>Find <%= link_to "Courses &amp; Events", category_path(:category_slug => "courses")%></li>
  </ul>
  <p class="video"><span class="video-embed"><object type="application/x-shockwave-flash" style="width:218px; height:160px;" data="http://www.youtube.com/v/X69keOjs2Dg">
<param name="movie" value="http://www.youtube.com/v/X69keOjs2Dg" />
</object></span></p>
</div>
<!-- Intro Ends -->
<% unless @newest_full_members.empty? -%>
<!--New Full Members Starts -->
<div class="box">
  <h3>New Well-being Providers</h3>
  <div id="homepage-full-members">
    <% @newest_full_members.each do |u| -%>
      <div class="homepage-small-user"><%= render :partial => "users/user_small", :locals => {:user => u }  %></div>
    <% end -%>	
  </div>
  <% if @total_full_members > $number_full_members_on_homepage -%>
  <p class="floatRight"><%= link_to "View more new well-being providers &raquo;", :controller => "full_members", :action => "index"%></p>
  <% end -%>
</div>
<!--New Full Members Ends -->
<% end -%>
<!--News Starts -->

<div id="articles-homepage" class="section"> 
<% unless @newest_articles.empty? -%>
<h3>Latest Articles</h3>
<% @newest_articles.each do |a| -%>
  <div class="homepage-article <%= cycle('col1', 'col2')%>">
  <% if a.class.to_s == "HowTo" -%>
    <%= render :partial => "how_tos/how_to_homepage", :locals => {:how_to => a }  %>
  <% else -%>
    <%= render :partial => "articles/article_homepage", :locals => {:article => a }  %>
  <% end -%>
  </div>
<% end -%>
<% end -%>
<!--News Ends -->
  <% if @total_articles > $number_articles_on_homepage -%>
    <p class="floatRight"><%= link_to "View more articles &raquo;", articles_path %></p>
  <% end -%>
</div>
