<% unless logged_in? || @subcategory.nil? -%>
<div id="bam-invite-join">
  <p>Do you offer <%=@subcategory.name%>? GREAT! We warmly invite you to <%= link_to 'join beamazing.co.nz', signup_intro_url %>!</p>
  <p>If you want to make more use of the Internet, reach more people and make a bigger difference, then you've come to the right place - we help 1000's of people find services like yours... <%= link_to 'LEARN MORE!', signup_intro_url %></p>
</div>
<%end -%>
<%= render :partial => "users/apply_expert", :locals => {:subcategory => @subcategory} %>
<h1>Search results<%=  describe_search(@region, @district, @category, @subcategory) %></h1>
<% unless @subcategory.nil? || @subcategory.resident_expert_id.nil? %>
  <div id="bam-meet-expert"><h3 id="resident-title">Meet our resident expert:</h3>
  <%=render :partial => "users/user", :locals => {:user => @subcategory.resident_expert }  %>
</div>
<%end -%>
<% if @results.empty? -%>
  No results found <%=  describe_search(@region, @district, @category, @subcategory) %>.
<% else -%>
  <div id="bam-search-results">
    <%= will_paginate @results  %>
<ul class="simple" id="search-results">
  <% @results.each do |r| %>
    <li class="<%= cycle('even', 'odd') %><%if r.user_profile.published?%> user-rollover<%end%>"><%=render :partial => "users/user", :locals => {:user => r }  %></li>
  <% end -%>
</ul>
<%= will_paginate @results, :params => {:where => params[:where], :what => params[:what] , :category_id => params[:category_id]}  %>
  </div>
<% end -%>
