<h1>Search results<%=  describe_search(@region, @district, @category, @subcategory) %></h1>
<% if @results.empty? -%>
  No results found <%=  describe_search(@region, @district, @category, @subcategory) %>.
<% else -%>
    <%= will_paginate @results, :params => {:where => params[:where], :what => params[:what] , :category_id => params[:category_id] }  %>
<ul class="simple" id="search-results">
  <% @results.each do |r| %>
    <li class="<%= cycle('even', 'odd') %>"><%=render :partial => "users/user", :locals => {:user => r }  %></li>
  <% end -%>
</ul>
<%= will_paginate @results, :params => {:where => params[:where], :what => params[:what] , :category_id => params[:category_id]}  %>
<% end -%>