<% use_tinymce -%>
  <ol>
      <li>
        <%= f.label :title, "Title<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :description, "Description<span class='mandatoryStar'>*</span>" %>
        <%= f.text_area :description, :cols => "80" %>
      </li>
      <li>
        <%= f.label :how_to_book, "How to book<span class='mandatoryStar'>*</span>" %>
        <%= f.text_area :how_to_book, :cols => "80" %>
      </li>
      <li>
        <%= f.label :terms, "Terms & Conditions<span class='mandatoryStar'>*</span>" %>
        <%= f.text_area :terms, :cols => "80" %>
      </li>
</ol>
