  <ol>
	  <li><span class='mandatoryStar'>*</span>=mandatory field</li>
      <li>
        <%= f.label :title, "Title<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :title %>
		<%= hidden_field_tag :context, @context%>
		<%= hidden_field_tag :selected_tab_id, @selected_tab_id%>
      </li>
      <li>
        <%= f.label :description, "Description<span class='mandatoryStar'>*</span>" %>
        <%= f.text_area :description, :cols => "35" %>
      </li>
      <li>
		<p><%= f.radio_button :nation_wide, "true" %><label for="special_offer_nation_wide_true">Available New Zealand-wide</label></p>
		<p><%= f.radio_button :nation_wide, "false" %><label for="special_offer_nation_wide_false">Offered to people in your region only</label></p>
	  </li>
      <li>
        <label><%=subcategories_label%></label>
      </li>
      <li>
        <%= f.label :subcategory_id, 'Category:' %><%= f.select :subcategory_id, @subcategories, {:prompt => "- Please select -", :include_blank => true } %><br/>
      </li>
</ol>
