<h3 class="article-title"><%=link_to special_offer.title, expanded_user_tabs_url(special_offer.author, Tab::OFFERS) %>
<% if (@context == "profile" && (is_author?(special_offer) || is_admin?)) || (@context == "review" && is_admin?) -%>
 	<span class="stuff-actions">[<span class="<%=special_offer.workflow_css_class%>"><%=special_offer.state%></span>
	<% if is_admin? -%>
	 | <%= link_to "Approve", :controller => "admin/reviewer", :action => "approve", :special_offer_id => special_offer.id%>
	 | <%= link_to "Reject", :controller => "admin/reviewer", :action => "reject", :special_offer_id => special_offer.id%>
	<% end -%>
	<% if (is_author?(special_offer) || is_admin?) && current_user.active? -%>
	 | 
		<%if special_offer.published? -%>
			<%= link_to "Unpublish", {:controller => "/special_offers", :action => "unpublish", :id => special_offer.id, :context => @context, :selected_tab_id => "offers"}, :method => "post" %>
		<%else-%>
		<%= link_to "Publish", {:controller => "/special_offers", :action => "publish", :id => special_offer.id, :context => @context, :selected_tab_id => "offers"}, :method => "post", :class => "main-action"  %>
		<%end-%>
	<%end-%>
	<% if is_author?(special_offer)-%>
	 	| <%= link_to 'Edit', edit_special_offer_url(special_offer.slug, :context => @context, :selected_tab_id => "offers")%> | <%= link_to 'Delete', special_offer_url(special_offer.slug, :context => @context, :selected_tab_id => "offers"), :method => "delete", :confirm => "Are you sure? This action can not be undone"%>
	<%end-%>
	]</span>
<%end-%>
</h3>
<div class="profile-calling-action-area"><%= link_to "Enquire" , user_slug_action_url(:protocol => APP_CONFIG[:logged_site_protocol], :slug => special_offer.author.slug, :action => "message", :message => {:subject => "Trial session: #{special_offer.title}"} ), {:class => "enquire-button button"}%></div>
<h4>Offered by <%= author_link(special_offer.author) %></h4>
<p><% if special_offer.nation_wide? -%>Available <%= @country.name%>-wide<% else -%>Available in <%= special_offer.author.region.name%> only<% end -%></p>
<p><%=white_list(special_offer.description)%></p>
<p class="footnote">Terms and conditions may apply, ask me for details</p>