<h4 class="article-title"><%=link_to special_offer.title, special_offers_show_path(special_offer.author, special_offer.slug, :context => @context, :selected_tab_id => "offers") %>
<% if @context == "profile" && is_author?(special_offer) -%>
 	<span class="stuff-actions">[<span class="<%=special_offer.workflow_css_class%>"><%=special_offer.state%></span>
	<% if (is_author?(special_offer) || is_admin?) && current_user.active? -%>
	 | 
		<%if special_offer.published? -%>
			<%= link_to "Unpublish", {:controller => "/special_offers", :action => "unpublish", :id => special_offer.id, :context => @context, :selected_tab_id => "offers"}, :method => "post" %>
		<%else-%>
		<%= link_to "Publish", {:controller => "/special_offers", :action => "publish", :id => special_offer.id, :context => @context, :selected_tab_id => "offers"}, :method => "post" %>
		<%end-%>
	<%end-%>
	<% if is_author?(special_offer)-%>
	 	| <%= link_to 'Edit', edit_special_offer_path(special_offer.slug, :context => @context, :selected_tab_id => "offers")%> | <%= link_to 'Delete', special_offer_path(special_offer.slug, :context => @context, :selected_tab_id => "offers"), :method => "delete", :confirm => "Are you sure? This action can not be undone"%>
	<%end-%>
	]</span>
<%end-%>
</h4>
<% unless @context == "profile" -%>
	<div class="by-author">by <%= author_link(special_offer.author) %></div>
<%end-%>
<%unless special_offer.subcategory.nil? -%>
	<div class="article-subcategories">[<%= link_to special_offer.subcategory.name, special_offers_for_subcategory_path(special_offer.subcategory.slug)%>]</div>
<%end-%>
<p><%=first_sentence(white_list(special_offer.description))%></p>