<%= title "Edit special offer" %>
<%= link_to "Back to your special offers", special_offers_path %>
<% form_for @special_offer, :url => {:action => "update"}  do |f| %>
<%= f.error_messages :header_message => "Please try again", :message => "Your special offer could not be saved"%>

<%= render :partial => 'form', :locals => {:f => f} %>
<div class="buttons">
  <label for=""></label>
  <%= submit_tag 'Update', :name => "update"  %>
  <%= submit_tag 'Cancel', :name => "cancel"  %>
</div>
<% end %>

<%= link_to "Back to your special offers", special_offers_path %>
