<%= render :partial => "users/user_nav", :locals => {:selected => "" } %>
<%= title "Create a new trial session" %>

<% form_for @special_offer do |f| %>
    <%= f.error_messages :header_message => "Please try again", :message => "Your trial session could not be saved"%>

	<%= render :partial => 'form', :locals => {:f => f, :subcategories_label => "Please select the category you would like this trial session to be listed in:"} %>
	
<div class="buttons">
  <label for=""></label>
  <%= submit_tag 'Save &amp; Publish', :name => "save_and_publish"  %>
  <%= submit_tag 'Save As Draft', :name => "save_as_draft"  %>
  <%= submit_tag 'Cancel', :name => "cancel"  %>
</div>
<% end %>