<% if params[:review] == "true" -%>
	<%= link_to 'Back to review list', reviewer_path(:action => "index") %>
<%else -%>
	<% if params[:index_public] == "true" -%>
		<%= link_to "Back to special offers", special_offers_path  %>
	<% else -%>
		<%= link_to "Back to your special offers", user_special_offers_path %>
	<%end -%>
<% end -%>
<%= title @special_offer.title %>
<div class="publication-actions"><%= render :partial => "reviewer/publication_actions", :locals => {:item => @special_offer, :class_name => "special_offer" }   %>
<% if is_author?(@special_offer) -%>
        <%= link_to 'Delete', special_offer_path(@special_offer.slug), :method => "delete", :confirm => "Are you sure? This action can not be undone", :class => "anchor-button delete"  %>
<%= link_to 'Edit', edit_special_offer_path(@special_offer.slug), :class => "anchor-button" %>
<% end -%></div>
<%= render :partial => "reviewer/publication_info", :locals => {:item => @special_offer} %>
<hr/>
  <h3>Description</h3>
  <%=white_list @special_offer.description %>

  <p><a href="<%=@special_offer.filename%>">Download special offer</a></p>
<% if params[:index_public] == "true" -%>
<%= link_to "Back to special offers", special_offers_path  %>
<% else -%>
<%= link_to "Back to your special offers", user_special_offers_path %>
<% end -%>
