<%= title "#{@subcategory.full_name} in #{@region.name}" %>
    <%= will_paginate @users, :params => {:subcategory_name => params[:subcategory_name], :category_name => params[:category_name], :region_name => params[:region_name] }  %>
    <ul class="subcategories simple">
      <% @users.each do |u| -%>
        <li class="<%=cycle('odd', 'even')%>"><%= render :partial => "users/user", :locals => {:user => u} %> </li>
      <% end -%>
    </ul>
    <%= will_paginate @users, :params => {:subcategory_name => params[:subcategory_name], :category_name => params[:category_name], :region_name => params[:region_name] }  %>
