<%= title @subcategory.full_name %>
<% unless @subcategory.description.blank? -%>
<p><%= @subcategory.description%></p>
<% end -%>
<% unless logged_in? -%>
<div id="bam-invite-join">
  <p>Do you offer <%=@subcategory.name%>? GREAT! We warmly invite you to <%= link_to 'join beamazing.co.nz', signup_intro_url %>!</p>
  <p>If you want to make more use of the Internet, reach more people and make a bigger difference, then you've come to the right place - we help 1000's of people find services like yours... <%= link_to 'LEARN MORE!', signup_intro_url %></p>
</div>
<%end -%>
<%= render :partial => "users/apply_expert", :locals => {:subcategory => @subcategory} %>
  <% @regions.each do |r| -%>
      <% users = User.find_all_by_region_and_subcategories(r, @subcategory) -%>
    <% unless users.empty? -%>
    <h3 class="bam-region-name"><%=link_to r.name, subcategory_region_url(@category.slug, @subcategory.slug, r.slug)%></h3>
    <ul class="subcategories simple">
      <% users.each do |u| -%>
        <li class="<%=cycle('odd', 'even')%>"><%= render :partial => "users/user", :locals => {:user => u} %> </li>
      <% end -%>
    </ul>
    <%end -%>
  <% end -%>