<%= title @subcategory.full_name %>
<% unless @subcategory.description.blank? -%>
<p><%= @subcategory.description%></p>
<% end -%>
<div class="box">
	<h3>Resident experts</h3>
	<div id="featured-experts">
	    <% @featured_experts.each do |u| -%>
	      <div class="homepage-small-user"><%= render :partial => "users/user_small", :locals => {:user => u }  %></div>
	    <% end -%>	
	</div>
</div>
<ul>
<% content_for :sidebar_content do -%>
	<% unless @articles.blank? -%>
		<h4>Related articles</h4>
		<ul>
		<% @articles.each do |a| -%>
			<li><%= link_to a.title, articles_show_url(a.author.slug, a.slug)%><br/> by <%= a.author.try(:name)%></li>
		<% end -%>
	<% end -%>
		</ul>
<% end -%>
</ul>
  <% @users_hash.keys.sort.each do |region_name| -%>
    <h3 class="bam-region-name"><%=link_to region_name, subcategory_region_url(@category.slug, @subcategory.slug, region_name.parameterize)%></h3>
    <ul class="subcategories simple">
      <% @users_hash[region_name].each do |u| -%>
        <li class="<%=cycle('odd', 'even')%>"><%= render :partial => "users/user", :locals => {:user => u} %> </li>
      <% end -%>
    </ul>
  <% end -%>