<%= title @subcategory.full_name %>
<% unless @subcategory.description.blank? -%>
<p><%= @subcategory.description%></p>
<% end -%>
<% unless @featured_experts.blank? -%>
<div class="box">
	<h3>Resident experts: <%= @subcategory.name%> Article Contributors</h3>
	<div id="featured-experts">
	    <% @featured_experts.each do |u| -%>
	      <div class="homepage-small-user"><%= render :partial => "resident_experts/expert_small", :locals => {:user => u }  %></div>
	    <% end -%>	
	</div>
</div>
<% end -%>
<% content_for :sidebar_content do -%>
	<% unless @subcategory.published_special_offers_count(@country) == 0 && @subcategory.published_gift_vouchers_count(@country) == 0 -%>
		<h4>Related offers</h4>
		<ul>
			<% unless @subcategory.published_special_offers_count(@country) == 0 -%>
			<li><%= link_to "Trial sessions (#{@subcategory.published_special_offers_count(@country)})", special_offers_for_subcategory_url(@subcategory.slug)%></li>
			<% end -%>
			<% unless @subcategory.published_gift_vouchers_count(@country) == 0 -%>
			<li><%= link_to "Gift Vouchers (#{@subcategory.published_gift_vouchers_count(@country)})", gift_vouchers_for_subcategory_url(@subcategory.slug)%></li>
			<% end -%>
		</ul>
	<% end -%>
	<% unless @articles.blank? -%>
		<h4>Related articles</h4>
		<ul>
		<% @articles.each do |a| -%>
			<li><%= link_to a.title, articles_show_url(a.author.slug, a.slug)%><br/> by <%= a.author.try(:name)%></li>
		<% end -%>
		</ul>
	<% end -%>
<% end -%>
<% if @users_hash.blank? -%>
<p class="highlight">Be the first practitioner to <%= link_to "sign up", signup_intro_url%> (it's FREE!)</p>
<% else -%>
  <% @users_hash.keys.sort.each do |region_name| -%>
    <h3 class="bam-region-name"><%=link_to region_name, subcategory_region_url(@category.slug, @subcategory.slug, region_name.parameterize)%></h3>
    <ul class="subcategories simple">
      <% @users_hash[region_name].each do |u| -%>
        <li class="<%=cycle('odd', 'even')%>"><%= render :partial => "users/user", :locals => {:user => u} %> </li>
      <% end -%>
    </ul>
  <% end -%>
<% end -%>