<%= render :partial => "admin/admin_nav", :locals => {:selected => "auto_emails" }  %>
<%= title "Automatic emails"%>
<table class="admin">
  <tr>
    <th>User</th>
    <th>Type</th>
    <th>Sent</th>
  </tr>
<%= will_paginate @user_emails%>
<%@user_emails.each do |s| -%>
<tr class="<%=cycle('odd', 'even')%>">
	<td><% unless s.user.nil?%> <%= link_to s.user.try(:email), search_admin_users_url(:search_term => s.user.email) %> <% end%></td>
	<td><%= s.email_type %></td>
	<td><%= s.sent_at %></td>
</tr>
<%end-%>
</table>
<%= will_paginate @activities%>
