<div class="article_photo"><%= medium_image(article.author)%>
</div>
<div class="speechbubble"><%= image_tag 'speechbubble.png'%></div>
<div class="article_lead rounded"><div class="article_title_in_bubble"><%= article.title %></div><%= white_list article.lead.gsub(/\n/, '').gsub(/<br\/>/, '')%>
	<br/>
	<%=link_to "Read more >", articles_show_url(article.author.slug, article.slug, :context => @context, :selected_tab_id => "articles") %></div>
<div class="cleaner"></div>