<h3 class="article-title">
	<%=link_to article.title, articles_show_url(article.author.slug, article.slug, :context => @context, :selected_tab_id => "articles") %>
	<% unless @context == "profile"-%>
		by 
		<span class="by-author"><%= author_link(article.author) %></span>
	<%end-%></h3>
	<div class="overall_small_article">
	<div class="left_article_stuff"<% if article.author.paid_photo? && @context != "profile" && !is_author?(article)%> style="width: 80%"<%end%>><% if (@context == "profile" && is_author?(article)) || (is_admin? && @context == "review") -%>
	 <span class="stuff-actions">[<span class="<%=article.workflow_css_class%>"><%=article.state%></span>
		<% if (is_author?(article) || is_admin?) && current_user.active? -%>
		 | 
			<%if article.published? -%>
				<%= link_to "Unpublish", {:controller => "/articles", :action => "unpublish", :id => article.id, :context => @context, :selected_tab_id => "articles"}, :method => "post" %>
			<%else-%>
			<%= link_to "Publish", {:controller => "/articles", :action => "publish", :id => article.id, :context => @context, :selected_tab_id => "articles"}, :method => "post", :class => "main-action" %>
			<%end-%>
		<%end-%>
		<% if is_author?(article)-%>
		 	| <%= link_to 'Edit', edit_article_url(article, :selected_tab_id => "articles", :context => @context) %> | <%= link_to 'Delete', article_url(article, :selected_tab_id => "articles", :context => @context), :method => "delete", :confirm => "Are you sure? This action can not be undone"%>
		<%end-%>
		]</span>
	<%end-%>
	<div class="article-view-counts">Viewed <%= pluralize(article.view_counts, "time")%></div>
	<div class="article-subcategories">[<%= link_articles_subcategories(article)%>]</div>
	<p><%= white_list article.lead %></p>
	</div>
	<% if article.author.paid_photo? && @context != "profile" && !is_author?(article)%><div class="right_article_stuff"><%= author_photo_link(article.author)%></div><% end %>
	</div>
	<div class="cleaner"></div>
