<h4 class="article-title">
	<%=link_to article.title, articles_show_path(article.author.slug, article.slug, :context => @context, :selected_tab_id => "articles") %>
	<% if (@context == "profile" && is_author?(article)) || (is_admin? && @context == "review") -%>
	 <span class="stuff-actions">[<span class="<%=article.workflow_css_class%>"><%=article.state%></span>
		<% if (is_author?(article) || is_admin?) && current_user.active? -%>
		 | 
			<%if article.published? -%>
				<%= link_to "Unpublish", {:controller => "/articles", :action => "unpublish", :id => article.id, :context => @context, :selected_tab_id => "articles"}, :method => "post" %>
			<%else-%>
			<%= link_to "Publish", {:controller => "/articles", :action => "publish", :id => article.id, :context => @context, :selected_tab_id => "articles"}, :method => "post", :class => "main-action" %>
			<%end-%>
		<%end-%>
		<% if is_author?(article)-%>
		 	| <%= link_to 'Edit', edit_article_path(article, :selected_tab_id => "articles", :context => @context) %> | <%= link_to 'Delete', article_path(article, :selected_tab_id => "articles", :context => @context), :method => "delete", :confirm => "Are you sure? This action can not be undone"%>
		<%end-%>
		]</span>
	<%end-%>
	</h4>
	<% unless @context == "profile"-%>
		<div class="by-author">by <%= author_link(article.author) %></div>
	<%end-%>
	<div class="article-subcategories">[<%= link_articles_subcategories(article)%>]</div>
<%= white_list article.lead %>
