<% use_tinymce -%>
<% javascript 'new-article'%>
<p><span class='mandatoryStar'>*</span>=mandatory field</p>

<h3>Step 1: Title your article<span class='mandatoryStar'>*</span>:</h3>
<p>Give your article a title</p>
<p>Maximum 255 characters</p>
<p><%= f.text_field :title, :size => 70 %></p>
<%= hidden_field_tag :context, @context%>
<%= hidden_field_tag :selected_tab_id, @selected_tab_id%>

<h3><label>Step 2: Choose a blog-category</label></h3>
<p>Leave blank if you don't want this article to appear on our blog, although we highly recommend it does :)</p>
<p><%= f.select :blog_subcategory1_id, @blog_subcategories, {:prompt => "- Please select -", :include_blank => true } %></p>

<h3><%= f.label :lead, "Step 3: Write a lead paragraph<span class='mandatoryStar'>*</span>"%></h3>
<p>Maximum 500 characters (<span id='article_lead_count'>600</span> left)</p>
<p><%= f.text_area :lead, :cols => "70", :rows => 10,  :class => "noHTMLEditor"  %></p>

<h3>Step 4: Add the main content of your article</h3>
<p><%= f.text_area :body, :cols => "70", :rows => 30  %></p>

<h3>Step 5: Choose up to three relevant directory categories</h3>
<p><%= f.label :subcategory1, 'Category1:' %> <%= f.select :subcategory1_id, @subcategories, {:prompt => "- Please select -", :include_blank => true } %></p>
<p><%= f.label :subcategory2, 'Category2:' %> <%= f.select :subcategory2_id, @subcategories, {:prompt => "- Please select -", :include_blank => true} %></p>
<p><%= f.label :subcategory3, 'Category3:' %> <%= f.select :subcategory3_id, @subcategories, {:prompt => "- Please select -", :include_blank => true} %></p>
