<% if params[:only_show_own].blank? -%>
<% only_show_own = @country.default_only_show_own? -%>
<% else -%>
<% only_show_own = (params[:only_show_own] == "true") -%>
<% end -%>

<% if only_show_own -%>
<div><%=@subcategory.name%> articles from <%=@country.name%> | <%= link_to "All #{@subcategory.name} articles", articles_for_subcategory_url(@subcategory.slug, :only_show_own => "false") %></div>
<% else -%>
<div><%= link_to "#{@subcategory.name} articles from #{@country.name}", articles_for_subcategory_url(@subcategory.slug, :only_show_own => "true")%> | All <%= @subcategory.name%> articles</div>
<% end -%>
