<%= render :partial => "back_links" %>
<%= title "Edit article" %>
<% form_for(@article) do |f| %>
      <%= f.error_messages :header_message => "Please try again", :message => "Your article could not be saved" %>

      <%= render :partial => "form", :locals => {:f => f, :subcategories_label => "3 directory categories this article is listed in:", :blog_subcat_label => "3 blog categories this article is listed in:",   }   %>
  <div class="buttons">
    <label for=""></label>
    <%= submit_tag 'Update' %>
  </div>
<% end %>
