<% content_for :sidebar_content do -%>
	<% unless @popular_articles.blank? -%>
		<h4>Popular articles</h4>
		<ul>
		<% @popular_articles.each do |a| -%>
			<li><%= link_to a.title, articles_show_url(a.author.slug, a.slug)%><br/> by <%= a.author.try(:name)%><br/><span class="monthly_view_counts">Viewed <%= pluralize(a.view_counts, "time")%></span></li>
		<% end -%>
	<% end -%>
		</ul>
<% end -%>

<%= render :partial => "blog_categories/links", :locals => {:selected => "" }  %>
<%= title "Articles" %>
<div><%= link_to image_tag('rss_icon.png'), articles_url(:format => :rss)%></div>
<p>Coaches from all over the country have published numerous articles right here; sharing their expertise to help you achieve your goals and shape your life. We think you'll find lots of useful information, practical strategies and a whole heap of inspiration. To keep connected and receive new articles as they're published, either subscribe to our articles RSS feed, or join our newsletter mailing list.</p>
<%= render :partial => "articles/link_to_all" %> 
<%= render :partial => "articles/index_with_subcategories"  %>