<% page_title("#{@article.title} by #{@article.author.name}")%>
<% if params[:review] == "true" -%>
	<%= link_to 'Back to review list', reviewer_path(:action => "index") %>
<%else -%>
	<% if params[:index_public] == "true" -%>
		<%= link_to 'Back to articles', articles_path %>
	<% else -%>
		<%= link_to 'Back to your articles', user_articles_path %>
	<% end -%>
<% end -%>
<div class='cleaner'></div>
<div class="heading-photo"><%= thumbnail_image(@article.author) %></div>
<div class="heading-title">
	<%= title h(@article.title), :h1%>
	<div class="publication-author">by <%= author_link(@article.author) %></div>
</div>
<%if (is_author?(@article) || is_admin?)%><div class="publication-actions"><%= render :partial => "reviewer/publication_actions", :locals => {:item => @article, :class_name => "article" }   %>
<% if is_author?(@article) -%>
<div>
      <%= link_to 'Delete', article_path(@article), :method => "delete", :confirm => "Are you sure? This action can not be undone", :class => "anchor-button delete"  %>
<%= link_to 'Edit', edit_article_path(@article), :class => "anchor-button" %>
</div><% end -%></div><% end -%>
<div class="cleaner"></div>
<%= render :partial => "reviewer/publication_info", :locals => {:item => @article} %>
<hr/>
<p>
<%= white_list @article.lead %>
<br/>
<%= white_list @article.body %>
</p>
<% if @article.author.active? %><span id="meet-author"><%= link_to "Meet #{@article.author.name}", user_path_with_context(@article.author)%></span> | <%end%><span class="share-link"><%= render :partial => "search/share_link" %></span>