<% javascript "link"%>
<%= render :partial => "back_links" %>
<% page_title("#{@article.title} by #{@article.author.name}")%>
<% page_description(@article.lead)%>
<% page_author(@article.author.try(:name))%>
<div class='cleaner'></div>
<div class="heading-photo"><%= author_photo_link(@article.author) %></div>
<div class="heading-title">
	<%= title h(@article.title), :h1%>
	<div class="publication-author">by <%= author_link(@article.author) %></div>
</div>
<div id="article-share-top"><%= render :partial => "articles/share_link" %></div>
<%if (is_author?(@article) || (is_admin? && !@article.approved?))%><div class="publication-actions"><%= render :partial => "reviewer/publication_actions", :locals => {:item => @article, :class_name => "article" }   %>
<% if is_author?(@article) -%>
<div>
      <%= link_to 'Delete', article_url(@article, :context => @context, :selected_tab_id => @selected_tab_id), :method => "delete", :confirm => "Are you sure? This action can not be undone", :class => "anchor-button delete"  %>
<%= link_to 'Edit', edit_article_url(@article, :context => @context, :selected_tab_id => @selected_tab_id), :class => "anchor-button" %>
</div><% end -%></div><% end -%>
<div class="cleaner"></div>
<%= render :partial => "reviewer/publication_info", :locals => {:item => @article} %>
<hr/>
<p>
<%= white_list @article.lead %>
<br/>
<%= white_list @article.body %>
</p>
<%= render :partial => "articles/share_link" %>
<% content_for :sidebar_content do -%>
	<% unless @article.main_subcategory.published_special_offers_count == 0 && @article.main_subcategory.published_gift_vouchers_count == 0 -%>
		<h4>Related offers</h4>
		<ul>
			<% unless @article.main_subcategory.published_special_offers_count == 0 -%>
			<li><%= link_to "Special offers (#{@article.main_subcategory.published_special_offers_count})", special_offers_for_subcategory_url(@article.main_subcategory.slug)%></li>
			<% end -%>
			<% unless @article.main_subcategory.published_gift_vouchers_count == 0 -%>
			<li><%= link_to "Gift Vouchers (#{@article.main_subcategory.published_gift_vouchers_count})", gift_vouchers_for_subcategory_url(@article.main_subcategory.slug)%></li>
			<% end -%>
		</ul>
	<% end -%>
	<% unless @articles.blank? -%>
		<h4>Related articles</h4>
		<ul>
		<% @articles.each do |a| -%>
			<li><%= link_to a.title, articles_show_url(a.author.slug, a.slug)%><br/> by <%= a.author.try(:name)%></li>
		<% end -%>
		</ul>
	<% end -%>
<% end -%>
