<% if params[:review] == "true" -%>
	<%= link_to 'Back to review list', reviewer_path(:action => "index") %>
<%else -%>
	<% if params[:index_public] == "true" -%>
		<%= link_to 'Back to articles', articles_path %>
	<% else -%>
		<%= link_to 'Back to your articles', user_articles_path %>
	<% end -%>
<% end -%>
<h1><%=h @article.title %></h1>
<div class="publication-author">by <%= author_link(@article.author) %></div>
<div class="publication-actions"><%= render :partial => "reviewer/publication_actions", :locals => {:item => @article, :class_name => "article" }   %>
<% if is_author?(@article) -%>
      <%= link_to 'Delete', article_path(@article), :method => "delete", :confirm => "Are you sure? This action can not be undone", :class => "anchor-button delete"  %>
<%= link_to 'Edit', edit_article_path(@article), :class => "anchor-button" %>
<% end -%></div>
<div class="cleaner"></div>
<%= render :partial => "reviewer/publication_info", :locals => {:item => @article} %>
<hr/>
<p>
<%= white_list @article.lead.gsub(/\n/, "<br/>") %>
<br/>
<%= white_list @article.body.gsub(/\n/, "<br/>") %>
</p>