<% use_tinymce -%>
<%= title "Send a link to friend"  %>
<% form_for @message, :html => {:class => "fieldset"} do |f| %>
	<% unless logged_in? -%>
  		<%= render :partial => "users/verify_human" %>
	<% end -%>
	  <%= f.error_messages :header_message => "Please try again", :message => "Your message could not be sent" %>
	<% if !logged_in? -%>
	    <ol>
		  <li><span class='mandatoryStar'>*</span>=mandatory field</li>
	      <li>
	        <%= f.label :from_email, "Your email address:<span class='mandatoryStar'>*</span>" %>
	        <%= f.text_field :from_email %>
	      </li>
	      <li>
	        <%= f.label :from_name, "Your name" %>
	        <%= f.text_field :from_name %>
	      </li>
		</ol>
	<% end -%>
	    <ol>
		  <li><span class='mandatoryStar'>*</span>=mandatory field</li>
	      <li>
	        <%= f.label :to_email, "Your friend's email address:<span class='mandatoryStar'>*</span>" %>
	        <%= f.text_field :to_email %>
	      </li>
	      <li>
	        <%= f.label :to_name, "Your friend's name" %>
	        <%= f.text_field :to_name %>
	      </li>
		</ol>
	    <ol>
	      <li>
	        <%= f.label :subject, "Subject:<span class='mandatoryStar'>*</span>" %>
	        <%= f.text_field :subject %>
	      </li>
	      <li>
	        <%= f.label :body, "Body:<span class='mandatoryStar'>*</span>" %>
	        <%= f.text_area :body, :cols => "35" %>
	      </li>
	    </ol>
	<div class="buttons">
	    <label for=""></label>
	    <%= submit_tag 'Send' %>
	  </div>
<% end %>