<%= title "Application for resident expert membership"  %>
<p><%= link_to "Show all expert applications", expert_applications_action_path(:action => "index" ) %></p>
<div class="resident-expert-application-workflow"><% form_tag expert_applications_action_with_id_path(:id => @expert_application.id, :action => "approve" ) do -%>
<%= submit_tag "Approve", :class => "button"  %>
<% end -%>
<% form_tag expert_applications_action_with_id_path(@expert_application, :action => "reject" ) do -%>
<%= submit_tag "Reject", :class => "button"  %>
<% end -%></div>
<div class="cleaner"></div>
<h3>User</h3>
<p><%= @expert_application.user.email %></p>
<p><%= @expert_application.user.contact_details %></p>
<h3>Expertise</h3>
<p>Applying to become an expert in <%= @expert_application.subcategory.name %></p>
<p>Change to another modality? <% form_for @expert_application, :url => expert_applications_action_with_id_path(@expert_application, :action => "update") do |f|%><%= f.select :subcategory_id, @subcategories %><%=submit_tag "Change"%><%end%></p>
<% if !@expert_application.subcategory.resident_expert.nil? -%>
  <div class="important">There is already a resident expert for this modality: <%=  link_to @expert_application.subcategory.resident_expert.full_name, expanded_user_path(@expert_application.subcategory.resident_expert) %></div>
<% end -%>
<h3>Expert application</h3>
<p><%= @expert_application.expert_presentation%></p>
<p>Are you looking to raise your profile via the web? <%= @expert_application.raise_profile?%></p>
<p>Are you willing to produce basic articles to talk about your field of expertise? <%= @expert_application.basic_articles?%></p>
<p>Are you happy to answer the 'question of the week' from the public about your area of expertise? <%= @expert_application.weekly_question?%></p>
