<h3>Add features and make more of Be Amazing!</h3>
<p>Make more of your membership on Be Amazing and add features to stand out and reach more people. These features will enhance your membership and give you a wider range of options to market yourself online headache free!</p>
<% form_for @order do |o| -%>
	<ol id="add-features-list">
		<li>
			<%= o.radio_button :package, "triple_vis", :checked => true %><%= o.label :package_triple_vis, "Triple-Vis"%>
		</li>
		<li>
			<%= o.radio_button :package, "stand_out"%><%= o.label :package_stand_out, "Stand-Out" %>
		</li>
		<li>
			<%= o.radio_button :package, "premium"%><%= o.label :package_premium, "Premium"%>
		</li>
<p class="register-actions register-actions-active">
	<%= submit_tag 'Proceed to pay >', :name => "save", :class => "button submit"  %>
	<%= link_to 'No thanks', expanded_user_url(current_user), :class => "anchor-button cancel"  %>
</p>
<% end -%>