  <%= f.error_messages :header_message => "Please try again", :message => "Your registration could not be completed" %>
  <% if @mt == "resident_expert" && sign_up -%>
    <p>Otherwise, please fill out the following form. We will review your application and contact you.</p>
    <p>If all goes well, you will then be invited to join BeAmazing as a resident expert (only at that stage will you be asked to pay)</p>
  <%end -%>
  <fieldset>
    <legend>Your Details</legend>
    <ol>
	  <li><span class='mandatoryStar'>*</span>=mandatory field</li>
      <li>
        <%= f.label :email, "Your email address:<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :email %>
      </li>
      <% if sign_up -%>
      <li>
        <%= f.label :password, "Password:<span class='mandatoryStar'>*</span>" %>
        <%= f.password_field :password %>
      </li>
      <li>
        <%= f.label :password_confirmation, "Confirm Password:<span class='mandatoryStar'>*</span>" %>
        <%= f.password_field :password_confirmation %>
      </li>
      <li>
        <%= f.label :accept_terms, "I accept BeAmazing #{link_to("Terms &amp; Conditions", terms_path)}:<span class='mandatoryStar'>*</span>" %>
        <%= f.check_box :accept_terms %>
      </li>
      <%end -%>
      <li>
        <%= f.label :district_id, "Your area:<span class='mandatoryStar'>*</span>" %>
        <%= f.select :district_id, @districts, {:prompt => "- Please select -"} %>
      </li>
      <li>
        <%= f.label :first_name, "Your first name:<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :first_name %>
      </li>
      <li>
        <%= f.label :last_name, "Your surname:<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :last_name %>
      </li>
      <li>
        <%= f.label :receive_newsletter, 'Would you like to subscribe to our newsletter?' %>
        <%= f.check_box :receive_newsletter %>
      </li>
      <li style="display: none;">
        <%= f.label :professional, 'Are you a professional?' %>
        <%= f.check_box :professional   %>
      </li>
    </ol>
  </fieldset>
  <fieldset id="fieldset-professional-details">
    <legend>Professional Details</legend>
    <%= f.hidden_field :membership_type%>
    <ol>
      <li>
        <%= f.label :business_name, "Business name" %>
        <%= f.text_field :business_name  %>
      </li>
      <li>
        <%= f.label :website, "Website" %>
        <%= f.text_field :website  %>
      </li>
      <li>
        <%= f.label :receive_professional_newsletter, 'Would you like to subscribe to our newsletter for professionals?' %>
        <%= f.check_box :receive_professional_newsletter %>
      </li>
      <li>
        <div class="left-input"></div>
        <div class="notice right-label"><span class="important">IMPORTANT</span>: your address will be displayed on our Web site and, for full members, shown on our maps. If you do not want to advertise your address, please enter only a city, or nothing at all.</div>
      </li>
      <li>
        <%= f.label :address1, 'Address' %>
        <%= f.text_area :address1, :rows => "2", :cols => "35"  %>
      </li>
      <li>
        <%= f.label :suburb, 'Suburb' %>
        <%= f.text_field :suburb  %>
      </li>
      <li>
        <%= f.label :city, 'City' %>
        <%= f.text_field :city %>
      </li>
      <li>
        <%= f.label :phone_prefix, 'Phone' %>
        <%= f.select :phone_prefix, ["", "03", "04", "06", "07", "09"] %><%= f.text_field :phone_suffix, :size => 10, :maxlength => 10 %>
      </li>
      <li>
        <%= f.label :mobile_prefix, 'Mobile' %>
        <%= f.select :mobile_prefix, ["", "021", "027", "029"] %><%= f.text_field :mobile_suffix, :size => 10, :maxlength => 10 %>
      </li>
      <li>
        <label>Please select your main expertise and (optionally) 2 other categories you would like to be listed in:</label>
      </li>
      <li>
        <%= f.label :subcategory1_id, 'You main expertise<span class="mandatoryStar">*</span>:' %><%= f.select :subcategory1_id, @subcategories, {:prompt => "- Please select -", :include_blank => true} %><br/>
      </li>
      <li>
        <%= f.label :subcategory2_id, 'Category2:' %><%= f.select :subcategory2_id, @subcategories, {:prompt => "- Please select -", :include_blank => true} %><br/>
      </li>
      <li>
        <%= f.label :subcategory3_id, 'Category3:' %><%= f.select :subcategory3_id, @subcategories, {:prompt => "- Please select -", :include_blank => true} %><br/>
      </li>
      <div class="buttons">
        <label for=""></label>
        <%= submit_tag membership_button_msg(@mt, sign_up) %>
      </div>
    </ol>
  </fieldset>