<%= f.error_messages :header_message => "Please try again", :message => "Your registration could not be completed" %>
  <%= f.hidden_field :membership_type%>
  <ol>
    <li>
      <label>If you wish, select 2 other categories you would like to be listed in:</label>
    </li>
    <li>
      <%= f.label :subcategory2_id, 'Category2:' %><%= f.select :subcategory2_id, @subcategories, {:prompt => "- Please select -", :include_blank => true} %><br/>
    </li>
    <li>
      <%= f.label :subcategory3_id, 'Category3:' %><%= f.select :subcategory3_id, @subcategories, {:prompt => "- Please select -", :include_blank => true} %><br/>
    </li>
    <li>
      <%= f.label :business_name, "Business name" %>
      <%= f.text_field :business_name  %>
    </li>
    <li>
      <%= f.label :website, "Website" %>
      <%= f.text_field :website  %>
    </li>
    <li>
      <%= f.label :receive_professional_newsletter, 'Would you like to subscribe to our newsletter for professionals?' %>
      <%= f.check_box :receive_professional_newsletter %>
    </li>
    <li>
      <%= f.label :receive_newsletter, 'Would you like to subscribe to our newsletter?' %>
      <%= f.check_box :receive_newsletter %>
    </li>
    <li>
      <div class="left-input"></div>
    <li>
      <%= f.label :phone_prefix, 'Phone' %>
      <%= f.select :phone_prefix, ["", "03", "04", "06", "07", "09"] %><%= f.text_field :phone_suffix, :size => 10, :maxlength => 10 %>
    </li>
    <li>
      <%= f.label :mobile_prefix, 'Mobile' %>
      <%= f.select :mobile_prefix, ["", "021", "022", "027", "029"] %><%= f.text_field :mobile_suffix, :size => 10, :maxlength => 10 %>
    </li>
  </ol>
<p class="register-actions register-actions-active">
  <%= submit_tag "Next >", :class => "button submit" %>
	<%= link_to "Cancel", root_url, :class => "anchor-button cancel" %>
</p>
