<a href="<%=user_path_with_context(user)%>"><%= thumbnail_image(user) %></a>
<h6><a href="<%=user_path_with_context(user)%>"><%= user.name %></a></h6><p class="highlight"><%=  user.expertise_subcategory.name %></p><p><%= user.region_name %></p>
