<a href="<%=user_path_with_context(user)%>"><div class="small-user-photo"><%= small_image(user) %></div>
<div class="small-user-description"><%= user.name %><br/><%=  user.expertise %><br/><%= user.region_name %></div></a>
