<td><%= u.name_with_email%></td>
<td><%= u.roles_description%><% unless u.free_listing?%><br/><%=u.bam_dates%><%end%></td>
<td><%= u.state%></td>
<td><%= link_to "Edit", edit_admin_user_url(u) %><br/>
	<%= link_to "Login as #{u.first_name}", login_admin_user_url(u) %><br/>
	<%= link_to "View all activities for #{u.first_name}", user_activity_admin_url(:id  => u.id) %><br/>
	<%= link_to "Delete", admin_user_url(u, :search_term => params[:search_term]), :method => "delete", :confirm => 'Are you sure?', :method => :delete %></td>
