<% if current_user.full_member? -%><%if selected=="profile"%><span class="user-big-menu user-tab-selected">Profile</span><%else%><span class="user-big-menu"><%= link_to "Profile", expanded_user_url(current_user, :selected_tab_id => @selected_tab_id)%></span><%end%> |
<%if selected=="promote"%><span class="user-big-menu user-tab-selected">Add features</span><%else%><span class="user-big-menu"><%= link_to "Add features", :controller => "users", :action => "promote"%></span><%end%> |
<%if selected=="refer"%><span class="user-big-menu user-tab-selected">Spread the word</span><%else%><span class="user-big-menu"><%= link_to "Spread the word", :controller => "users", :action => "refer"%></span><%end%> |
	<%if selected=="details"%><span class="user-tab-selected">Edit details</span><%else%><%= link_to "Edit details", :controller => "users", :action => "edit"%><%end%> |
		<%if selected=="pwd"%><span class="user-tab-selected">Change password</span><%else%><%= link_to "Change password", :controller => "users", :action => "edit_password"%><%end%> |
<%if selected=="stats"%><span class="user-tab-selected">Statistics</span><%else%><%= link_to "Statistics", :controller => "users", :action => "stats"%><%end%> |
<%if selected=="payments"%><span class="user-tab-selected">Payments</span><%else%><%= link_to "Payments", payments_url%><%end%>
<% end -%>
