<%= render :partial => "users/user_nav", :locals => {:selected => "articles" }  %>
<%= title "Your articles", :h2  %>
<p><%= link_to "Create new article", new_article_path %></p>
<% if @articles.empty? -%>
  No articles
<% else -%>
  <ul class="simple" id="your-articles">
  <% @articles.each do |a| -%>
    <li class="<%=cycle('odd', 'even')%>"<%= render :partial => "articles/article", :locals => {:article => a } %></li>
  <% end -%>
  </ul>
<%end -%>