<%= render :partial => "users/user_nav", :locals => {:selected => "pwd" }   %>
<%= title "Change your password" %>
<% form_for :user, :url => { :action => 'update_password' }, :html => {:class => "fieldset"} do |f| %>
  <%= f.error_messages %>
  <p>Please enter a new password and confirm it.</p>
		<ol>
			<li>
		    <%= f.label :old_password, "Old password" %>
		    <%= f.password_field :old_password %>
			</li>
			<li>
		    <%= f.label :password, "New password" %>
		    <%= f.password_field :password %>
			</li>
			<li>
		    <%= f.label :password_confirmation, "New password again" %>
		    <%= f.password_field :password_confirmation %>
			</li>
		</ol>
	<div class="buttons">
          <label for=""></label>
    <%= f.submit "Submit" %>
	</div>
<% end %>