<%= render :partial => "users/user_nav", :locals => {:selected => "home" }  %>
<% if current_user.unconfirmed? -%>
<div id="warning_unpublished" class="rounded"><p id="main_warning">Your profile is not confirmed yet. An email has been sent to: <%= current_user.email%> with a confirmation link. Simply click on the link and you will be good to go.</p></div>
<% else -%>
	<% if !current_user.published? -%>
	<div id="warning_unpublished" class="rounded"><p id="main_warning">Your profile is not published!</p><p>Complete <%= link_to "your profile", expanded_user_url(current_user, :selected_tab_id => @selected_tab_id) %> and publish to receive your copy of our FREE guide</p></div>
	<% end -%>
<% end -%>
<%= title "Welcome back!"%>
<p>Nice to have you back on the site, scroll down for essential links and news from the Be Amazing Team.</p> <h4><strong>Quick links:</strong></h4>
<ul>
	<li><%= link_to "Edit your profile", expanded_user_url(current_user, :selected_tab_id => @selected_tab_id)%></li>
	<li><%= link_to "Change your details (phone, email, etc.)", :controller => "users", :action => "edit"%></li>
	<li><%= link_to "Add a new article", new_article_url(:selected_tab_id => "articles", :context => "profile")%></li> 
	<li><%= link_to "Add features", :controller => "users", :action => "promote"%> - Stand out on Be Amazing!</li>
	<li><%= link_to "See your profile statistics", :controller => "users", :action => "stats"%></li>
</ul>
<h4><strong>Coaching guides to help you make the most of Be Amazing:</strong></h4>
<ul>
	<li><%= link_to "How to write a GREAT profile", user_guide_great_profile_url %></li>
	<li><%= link_to "How to run a successful Trial Session", user_guide_special_offer_url%> </li>
	<li><%= link_to "How to create a Gift Voucher people will want to buy", user_guide_gift_voucher_url%></li>
	<li><%= link_to "How to write an Article that people will read", user_guide_article_url%></li>
	<li><%= link_to "How to become a Resident Expert", user_guide_resident_expert_url%></li>
	<li><%= link_to "What to think about when choosing a photo for your page", user_guide_photo_url%></li>
</ul>
<h4><strong>Help Be Amazing GROW!</strong></h4>
<p>We want to create an outstanding well-being resource for <%= @country.inhabitants%> and you can help...</p>
<ul>
	<li><%= link_to "Add articles to profile your expertise", new_article_url(:selected_tab_id => "articles", :context => "profile")%></li>
	<li>Add a special Be Amazing membership graphic to your own website <em>- Coming soon!</em></li> 
	<li>Refer your clients to Be Amazing when they are looking for other well-being services</li> 
	<li><%= link_to "Tell your colleagues and peers about Be Amazing", :controller => "users", :action => "refer"%></li> 
</ul>
<h4><strong>Resources and products for you, our members</strong></h4>
<p>Do you have products or services that other Health, Well-being and Development Professionals would find useful? Contact us to find out how to list them here. Email: <a href="mailto: sav@beamazing.co.nz">sav@beamazing.co.nz</a></p> 