<%= render :partial => "users/user_nav", :locals => {:selected => "howtos" }  %>
<%= title "Your howto articles"  %>
<p><%= link_to "New 'how to' article", new_how_to_path %></p>
<% if @howtos.empty? -%>
  No 'how to' articles
<% else -%>
  <ul class="simple" id="your-howto-articles">
  <% @howtos.each do |h| -%>
    <li class="<%=cycle('odd', 'even')%>"<%= render :partial => "how_tos/how_to", :locals => {:how_to => h } %></li>
  <% end -%>
  </ul>
<%end -%>