<% javascript 'signup-intro' %>
<%= title "Join us as a well-being professional for FREE!" %>
<div id="signup-intro">
	<p>That's right, it's FREE for Well-being professionals to feature on Be Amazing and a proven way to reach New Zealanders looking for your services.</p>
	<ul>
		<li>Don't have a website? Be Amazing provides a FREE site with an immediate audience</li>
		<li>Already have a website? Drive 'traffic' to your site via your Be Amazing profile</li>
	</ul>
	<h3>Why joining is smart!</h3>
	<ul>
		<li>A headache-free way to market yourself online</li>
		<li>Profile your expertise by adding articles</li>
		<li>Promote your services to New Zealanders using the site</li>
		<li><%= link_to "Signup now", signup_url(:protocol => APP_CONFIG[:logged_site_protocol], :professional => "true", :mt => "full_member" ) %> | <%= link_to "More reasons to join", :controller => "search", :action => "whyjoin"  %></li>
	</ul>
	<blockquote class="quote">&quot;I continue to refer people to your website, it’s worth its weight in gold!&quot; - Reiki  Healer</blockquote>
	<h3>FREE Membership gives you</h3>
	<ul>
		<li>Phone, email &amp; web links</li>
		<li>Your very own section with multiple pages</li>
		<li>Publish your articles and promote your expertise</li>
		<li>Feature in 3 different sections across the site</li>
		<li><%= link_to "Signup now", signup_url(:protocol => APP_CONFIG[:logged_site_protocol], :professional => "true", :mt => "full_member" ) %> | <%= link_to "More reasons to join", :controller => "search", :action => "whyjoin"  %></li>
	</ul>
	<blockquote class="quote">&quot;The modest outlay has been recouped several times over already&quot; - Health Coach</blockquote>
	<h3>Enhance your profile on Be Amazing</h3>
	<ul>
		<li>Add a photo to your profile</li>
		<li>Run special offers</li>
		<li>Advertise your gift vouchers</li>
		<li>Make your listing stand out in our search results</li>
		<li>Secure a special URL (www.beamazing.co.nz/yourname and yourname.beamazing.co.nz)</li>
		<li>Feature in our public Newsletter!</li>
		<li><%= link_to "Signup now", signup_url(:protocol => APP_CONFIG[:logged_site_protocol], :professional => "true", :mt => "full_member" ) %> | <%= link_to "More reasons to join", :controller => "search", :action => "whyjoin"  %></li>
	</ul> 
	<blockquote class="quote">&quot;I've really appreciated your enthusiastic, helpful and efficient approach.&quot; - Homeopath</blockquote>	
	<%= link_to "Simply want to sign up for our free newsletter?", signup_newsletter_url %>
</div>
