<%= title "More information about free listing", :h2 %>
<%= link_to 'Back', signup_intro_path %> | <%= link_to "Signup for free listing", signup_path(:professional => "true", :mt => "free_listing" ) %> | <%= link_to "Signup for full membership", signup_path(:professional => "true", :mt => "full_member" ) %>
<p>If you’re a health, wellbeing or development professional in New Zealand, then make sure you have at least a FREE listing on beamazing.co.nz. A free listing will place you in up to three sections of your choice in our directory, meaning you can be found with many other providers in your area.</p>
<p>A FREE LISTING includes:</p>
<ul>
      <li>Your Name & Business Name</li>
      <li>Your Phone numbers</li>
      <li>Places you in up to three sections on the site of your choosing</li>
      <li>Control and update your details when you like</li>
      <li>FREE subscription to our newsletter</li>
</ul>
<p>Whilst a FREE listing will place you on the site, the Full Membership and Resident Expert Packages will provide you with far more features to connect with new clients.</p>
<p>NOTE: Some practitioners sign-up for a FREE LISTING to trial the effectiveness of the site, thinking that if a FREE LISTING connects them with new clients, they will sign-up for a FULL MEMBERSHIP. Whilst this is definitely possible, we want to be completely honest with you; most enquiries go to FULL MEMBERS, because FULL MEMBERS have multiple ways they can connect with visitors and also have better positioning on the site. Remember, a FULL MEMBERSHIP will cost you only $99 for the first year.</p>
<%= link_to 'Back', signup_intro_path %> | <%= link_to "Signup for free listing", signup_path(:professional => "true", :mt => "free_listing" ) %> | <%= link_to "Signup for full membership", signup_path(:professional => "true", :mt => "full_member" ) %>

