<%= title "More information about full membership", :h2 %>
<%= link_to 'Back', signup_intro_path %> | <%= link_to "Signup for full membership", signup_path(:professional => "true", :mt => "full_member" ) %>
<p>Full Membership gives you SIX key ways to connect with new clients on beamazing.co.nz. PLUS, we provide coaching tips to help you make more of the site and shape your content.</p>
<p>Cost:</p>
<ul>
      <li>50% Trial Discount in Year One; $99+gst</li>
      <li>Normal annual fee: $199+gst (only .61cents per day)</li>
      <li>Split payment option from year two onwards; $70+ GST per quarter</li>
      <li>Minimum 12 month term</li>
</ul>
<p>A Full Membership includes:</p>
<ul>
      <li>Your Name & Business Name</li>
      <li>Your Phone, Email and Web-link details</li>
      <li>Your own dedicated section with multiple pages, like a mini-website</li>
      <li>Share your expertise & publish unlimited 'How to Articles'</li>
      <li>Places you in up to three sections on the site of your choosing</li>
      <li>Run a special offer at anytime</li>
      <li>Add a Gift Voucher listing at any time, NO COMMISSION</li>
      <li>Add an entry into the calendar at any time</li>
      <li>Control and update your details and content when you like</li>
      <li>FREE subscription to our public newsletter</li>
      <li>FREE subscription to our member Biz-Dev newsletter</li>
</ul>
<p>Your Success is Our Success! We’ve designed FULL MEMBERSHIP to really work for you and we believe it will. Give it a whirl, use the coaching tips as you go, make yourself visible on the net and make a bigger difference.</p>
<%= link_to 'Back', signup_intro_path %> | <%= link_to "Signup for full membership", signup_path(:professional => "true", :mt => "full_member" ) %>