<%= title "Free listing" %>
<%= link_to 'Back', signup_intro_url %> | <%= link_to "Signup for free listing", signup_url(:professional => "true", :mt => "free_listing" ) %> | <%= link_to "Signup for full membership", signup_url(:professional => "true", :mt => "full_member" ) %>
<p>If you're a health, wellbeing or development professional in <%= @country.name%>, then make sure you have at least a FREE listing on <%= site_name_for_country_code(@country.country_code).capitalize%>. A free listing will place you in up to three sections of your choice in our directory, meaning you can be found with many other providers in your area.</p>
<p>A FREE LISTING includes:</p>
<ul>
      <li>Your Name &amp; Business Name</li>
      <li>Your Phone numbers</li>
      <li>Places you in up to three sections on the site of your choosing</li>
		<ul><li>You choose up to three categories to appear in when you sign-up and change these categories at any time.</li></ul>
      <li>Control and update your details when you like</li>
		<ul><li>Once you've registered and made payment, you'll receive a password and username allowing you to manage your own content.</li></ul>
      <li>FREE subscription to our two newsletters</li>
		<ul><li>ONE: 'Be Amazine' is a public newsletter that goes out to our entire database and includes features on Resident Experts, articles, trial sessions and events.</li>
<li>TWO: 'Bam-Biz-Buzz' is our newsletter for health and wellbeing professionals, going out to all our members. This includes tips and advice from business coaches as well as networking and news.</li></ul>
</ul>
<p>Whilst a FREE listing will place you on the site, the Full Membership and Resident Expert Packages will provide you with far more features to connect with new clients.</p>
<p>NOTE: Some practitioners sign-up for a FREE LISTING to trial the effectiveness of the site, thinking that if a FREE LISTING connects them with new clients, they will sign-up for a FULL MEMBERSHIP. Whilst this is definitely possible, we want to be completely honest with you; most enquiries go to FULL MEMBERS, because FULL MEMBERS have multiple ways they can connect with visitors and also have better positioning on the site. Remember, a FULL MEMBERSHIP will cost you only $99 for the first year.</p>
<%= link_to 'Back', signup_intro_url %> | <%= link_to "Signup for free listing", signup_url(:professional => "true", :mt => "free_listing" ) %> | <%= link_to "Signup for full membership", signup_url(:professional => "true", :mt => "full_member" ) %>

