<%= title "More information about resident experts" %>
<%= link_to 'Back', signup_intro_path %> | <%= link_to "Apply to become a resident expert", signup_path(:professional => "true", :mt => "resident_expert" ) %>
<p>As a beamazing.co.nz Resident Expert member you gain premium positioning on the site. You will be the exclusive expert in your field on the site and be the person people look to for expert advice.</p>
<p>Resident Expert Membership is ideal for professionals wanting to:</p>
<ul>
      <li>Create more visibility and increase their profile</li>
      <li>Establish themselves as a figure head expert</li>
      <li>Make the most out of the web</li>
      <li>Reach more people and make a bigger difference</li>
      <li>Launch their speaking career - Coming Soon!</li>
</ul>
<p>Cost:</p>
<ul>
      <li>50% Trial Discount in Year One; $499+gst</li>
      <li>Normal annual fee: $998+gst</li>
      <li>Split payment option from year two onwards; $275+gst per quarter</li>
      <li>(Minimum 12 month term)</li>

</ul>
<p>A Resident Expert Membership includes:</p>
<ul>
      <li>Get PREMIUM positioning on the website</li>
      <li>Feature in our Resident Expert team page</li>
      <li>Be on our ‘ASK AN EXPERT’ page - Coming Soon!</li>
      <li>Your Name & Business Name</li>
      <li>Your Phone, Email and Web-link details</li>
      <li>Your own dedicated section with multiple pages, like a mini-website</li>
      <li>Share your expertise & publish unlimited 'How to Articles'</li>
      <li>Run three special offers at one anytime</li>
      <li>Add up to three Gift Voucher listings at any one time, NO COMMISSION</li>
      <li>Add up to three entries into the calendar at any one time - Coming Soon!</li>
      <li>Moderate a bemazing.co.nz forum for your field of expertise - Coming Soon!</li>
      <li>Control and update your details and content when you like</li>
      <li>FREE subscription to our public newsletter</li>
      <li>FREE subscription to our member Biz-Dev newsletter</li>
</ul>
<%= link_to 'Back', signup_intro_path %> | <%= link_to "Apply to become a resident expert", signup_path(:professional => "true", :mt => "resident_expert" ) %>
