<% javascript 'new-user' %>
<%= render :partial => "users/signup_nav", :locals => {:selected => "essential" }  %>
<%= title "Step 1: Your essential information"  %>
<%= link_to "Why should I join?", signup_intro_url %>
<% form_for @user, :html => {:class => "fieldset"} do |f| %>
    <%= render :partial => "form_essential", :locals => {:f => f, :sign_up => true }   %>
	<p class="register-actions register-actions-active">
	  <%= submit_tag "Next >", :class => "button submit" %>
		<%= link_to "Cancel", root_url, :class => "anchor-button cancel" %>
	</p>
<% end %>