<% javascript 'new-user' %>
<h2>Coaches, Speakers &amp; Trainers - Create a FREE profile</h2>
<ul>
<li>Greater online exposure for free</li>
<li>Add unlimited articles for free</li>
<li>Be found in our comprehensive directory for free</li>
<li>Receive our FREE guide on business development for coaches</li>
<li>Learn more reasons <%= link_to "why to join", signup_intro_url %></li>
</ul>
<%= render :partial => "users/signup_nav", :locals => {:selected => "essential" }  %>
<%= title "Step 1: Your essential information"  %>
<% form_for @user, :html => {:class => "fieldset"} do |f| %>
    <%= render :partial => "form_essential", :locals => {:f => f, :sign_up => true }   %>
	<p class="register-actions register-actions-active">
	  <%= submit_tag "Next >", :class => "button submit" %>
		<%= link_to "Cancel", root_url, :class => "anchor-button cancel" %>
	</p>
<% end %>