<% javascript 'user-profile' %>

<% if own_profile?(@user) -%>
  <%= render :partial => "users/user_nav" %>
<% end -%>
<div id="profile-header">
  <div id="profile-header-right" class="column">
    <div id="profile-ask-question-content"><a href="mailto:<%=@user.email%>?subject=Message via beamazing.co.nz">Ask me a question</a></div>
    <div id="profile-publish-information">
<% if @user.user_profile.reviewable? && is_reviewer? -%>
  <div id="reviewer-actions">
  <% form_tag '/reviewer/approve' do -%>
        <%= hidden_field_tag "user_profile_id", @user.user_profile.id %>
        <%= submit_tag "Approve" %>
  <%end -%>
  <% form_tag '/reviewer/edit_reject_reason' do -%>
        <%= hidden_field_tag "user_profile_id", @user.user_profile.id %>
        <%= submit_tag "Reject" %>
  <%end -%>
  </div>
<% end -%>
<%unless @user.user_profile.published_at.nil?-%>
<span class="publication-date">Published: <%= @user.user_profile.published_at %></span><br/>
<%end-%>
<% if !@user.user_profile.approved_at.nil? && (is_reviewer? || current_user == @user) -%>
<span class="approval-date">Approved: <%= @user.user_profile.approved_at %> by <%=link_to @user.user_profile.approved_by.name, user_path(@user.user_profile.approved_by_id)%></span><br/>
<%  end -%>
<% if !@user.user_profile.rejected_at.nil? && (is_reviewer? || current_user == @user) -%>
<span class="rejection-date">Rejected: <%= @user.user_profile.rejected_at %> by <%=link_to @user.user_profile.rejected_by.name, user_path(@user.user_profile.rejected_by_id)%>(Reason: <%=@article.reason_reject%>)</span><br/>
<%end-%>
</div>
  </div>
  <div id="profile-header-left" class="column">
    <div id="profile-title-content">
    <h4 id="<%=@user.slug%>">beamazing.co.nz full member <%@user.name%><%unless @user.city.blank?%>, <%=@user.city%><%end%></h4>
    <%= title @user.full_name, :h3 %>
    <% unless @user.member_since.blank?%><p>Member since: <%= @user.member_since.to_s(:short) %></p><% end %>
    <% unless @user.subcategories.blank?%><p>Expertise: <%= @user.expertise %></p><% end %>
    </div>
  </div>
  <div class="cleaner"></div>
</div>
<div id="profile-container">
<div id="profile-right" class="column">
  <%= render :partial => "tabs/index" %>
</div>
<div id="profile-left" class="column">
  <div id="profile-photo"><%if @user.photo.exists?%><%= image_tag @user.photo.url(:medium) %><%end%><% if own_profile?(@user) -%><%if @user.photo.exists?%><%= link_to_remote "Change your photo", :update => "profile-left", :url => user_new_photo_path %><%else%><%= link_to_remote "Upload your picture or your logo here", :update => "profile-left", :url => user_new_photo_path %><%end%><%end%></div>
  <div id="profile-contact">
    <p><%=@user.name%></p>
    <% unless @user.business_name.nil? -%>
      <p><%=@user.business_name%></p>
    <% end -%>
    <p><%= @user.address1 %></p>
    <% unless @user.suburb.nil? -%>
      <p><%= @user.suburb %></p>
    <% end -%>
    <p><%= @user.city %></p>
    <% unless @user.phone.nil? -%>
      <p>T: <%=@user.phone%></p>
    <% end -%>
    <% unless @user.mobile.nil? -%>
      <p>M: <%=@user.mobile%></p>
    <% end -%>
  </div>
</div>
</div>