<%= render :partial => "users/user_nav", :locals => {:selected => "stats" }  %>
<%= title "Statistics"  %>
<p>For the <strong>last month</strong>, you had:</p>
<ul>
	<li><%=pluralize(current_user.visited_user_events.excludes_own.visited_profile.last_30_days.size, "visit")%> to your profile page</li>
	<li><%=pluralize(current_user.visited_user_events.excludes_own.received_message.last_30_days.size, "email enquiry")%> via BeAmazing</li>
	<li><%=pluralize(current_user.visited_user_events.excludes_own.redirect_website.last_30_days.size, "click")%> through to your website</li>
</ul>
<p>For the <strong>last 12 months</strong>, you had:</p>
<ul>
	<li><%=pluralize(current_user.visited_user_events.excludes_own.visited_profile.last_12_months.size, "visit")%> to your profile page</li>
	<li><%=pluralize(current_user.visited_user_events.excludes_own.received_message.last_12_months.size, "email enquiry")%> via BeAmazing</li>
	<li><%=pluralize(current_user.visited_user_events.excludes_own.redirect_website.last_12_months.size, "click")%> through to your website</li>
</ul>
<p>Since you joined, you had:</p>
<ul>
	<li><%=pluralize(current_user.visited_user_events.excludes_own.visited_profile.size, "visit")%> to your profile page</li>
	<li><%=pluralize(current_user.visited_user_events.excludes_own.received_message.size, "email enquiry")%> via BeAmazing</li>
	<li><%=pluralize(current_user.visited_user_events.excludes_own.redirect_website.size, "click")%> through to your website</li>
</ul>