<div id="intro_blog_categories_links"><h2><%= @total_users%> coaches &amp; <%=@total_articles %> articles written just for you!</h2></div>
<div id="blog_categories_links">
<% @all_blog_categories.each_with_index do |c, index|-%>
	<% if c.slug == selected -%>
	<div class="blog-cat" id="selected-blog-cat-<%= c.slug %>"></div>
	<% else -%>
	<div class="blog-cat" id="blog-cat-<%= c.slug %>"><%= link_to image_tag("/images/spacer.gif"), articles_blog_category_url(c.slug, :country_code => params[:country_code])%></div>
   <% end -%>
<% end -%>
<div class="cleaner"></div>
</div>