<% content_for :sidebar_content do -%>
	<% unless @popular_articles.blank? -%>
		<h4>Popular articles</h4>
		<ul>
		<% @popular_articles.each do |a| -%>
			<li><%= link_to a.title, articles_show_url(a.author.slug, a.slug)%><br/> by <%= a.author.try(:name)%><br/><span class="monthly_view_counts">Viewed <%= pluralize(a.view_counts, "time")%></span></li>
		<% end -%>
	<% end -%>
		</ul>
<% end -%>

<%= render :partial => "blog_categories/links", :locals => {:selected => @blog_category.slug} %>
<%= will_paginate @articles%>
<%= title "#{@blog_category.name} - articles"%>
<% @articles.each do |a| -%>
	<%= render :partial => "articles/article", :locals => {:article => a } %>
<% end -%>
<%= will_paginate @articles%>
