<%= title "Sign up for our newsletter"  %>
<p>Keep connected to <%= @country.name%> Health, Well-being and Development professionals via our monthly newsletter and receive news on...</p>
<ul>
<li>Trial Sessions</li>
<li>Gift Vouchers</li>
<li>Latest articles</li>
<li>Events and courses</li>
<li>Competitions</li>
<li>Our Editor's monthly round-up</li>
</ul>
<p>Plus, rest assured you can unsubscribe at anytime and your email address will be kept totally confidential!</p>
<% form_for @contact do |f| -%>
  <%= render :partial => "users/verify_human" %>
  <%= f.error_messages :header_message => "Please try again", :message => "Your registration could not be completed" %>
  <fieldset>
    <legend>Your Details</legend>
    <ol>
	  <li><span class='mandatoryStar'>*</span>=mandatory field</li>
      <li>
        <%= f.label :email, "Your email address:<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :email %>
      </li>
      <li>
        <%= f.label :district_id, "Your area:" %>
        <%= f.select :district_id, @districts, {:prompt => "- Please select -"} %>
      </li>
      <li>
        <%= f.label :first_name, "Your first name:" %>
        <%= f.text_field :first_name %>
      </li>
      <li>
        <%= f.label :last_name, "Your surname:" %>
        <%= f.text_field :last_name %>
      </li>
      <li style="display:none">
        <%= f.label :receive_newsletter, 'Would you like to subscribe to our newsletter?' %>
        <%= f.check_box :receive_newsletter %>
      </li>
    </ol>
  </fieldset>
  <div class="buttons">
    <label for=""></label>
    <%= submit_tag 'Sign up' %>
  </div>
<% end -%>