<%= title "Signup for our newsletter"  %>
<% form_for @contact do |f| %>
  <%= f.error_messages :header_message => "Please try again", :message => "Your registration could not be completed" %>
  <fieldset>
    <legend>Your Details</legend>
    <ol>
      <li>
        <%= f.label :email, "Your email address:<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :email %>
      </li>
      <li>
        <%= f.label :district_id, "Your area:" %>
        <%= f.select :district_id, @districts, {:prompt => "- Please select -"} %>
      </li>
      <li>
        <%= f.label :first_name, "Your first name:" %>
        <%= f.text_field :first_name %>
      </li>
      <li>
        <%= f.label :last_name, "Your surname:" %>
        <%= f.text_field :last_name %>
      </li>
      <li style="display:none">
        <%= f.label :receive_newsletter, 'Would you like to subscribe to our newsletter?' %>
        <%= f.check_box :receive_newsletter %>
      </li>
    </ol>
  </fieldset>
  <div class="buttons">
    <label for=""></label>
    <%= submit_tag 'Sign up' %>
  </div>
<% end %>