<%= render :partial => "admin/admin_nav", :locals => {:selected => "search_results" }  %>
<%= title "Search results"%>
<h3>Using search:</h3>
<%= will_paginate @search_results%>
<table class="admin">
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>What</th>
    <th>Where</th>
    <th>Category</th>
    <th>Subcategory</th>
    <th>Region</th>
    <th>City</th>
    <th>Results found</th>
  </tr>
<%@search_results.each do |s| -%>
<tr class="<%=cycle('odd', 'even')%>">
	<td><%= time_ago_in_words(s.logged_at)%> ago</td>
	<td><% if s.user.nil?%>Anonymous<%else%><%= s.user.name%></td>
	<td><%= s.extra_data.scan(/what:(.*?),/)%></td>
	<td><%= s.extra_data.scan(/where:(.*?),/)%></td>
	<td><%= s.extra_data.scan(/, category:(.*?),/)%></td>
	<td><%= s.extra_data.scan(/, subcategory:(.*?),/)%></td>
	<td><%= s.extra_data.scan(/region:(.*?),/)%></td>
	<td><%= s.extra_data.scan(/district:(.*?),/)%></td>
	<td><%= s.extra_data.scan(/found (.*?) results/)%></td>
</tr>
<%end-%>
</table>
<%= will_paginate @search_results%>
