<% javascript 'new-gift-voucher'%>
<p>Use the box below to describe your gift voucher. To make it more appealing, be succinct and talk about the experience and the benefits. The system is also set up to automatically add a 'How to book' enquiry link and a note to contact you for further terms and conditions, so no need to add that information in your description.</p>
<p>Last tip ... New gift vouchers  appear in our monthly newsletter, so we recommend changing your voucher offer every few months to get more visibility. To do this, just delete your voucher first and then create a new one.</p>
  <ol>
	  <li><span class='mandatoryStar'>*</span>=mandatory field</li>
      <li>
        <%= f.label :title, "Title<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :title %>
		<%= hidden_field_tag :context, @context%>
		<%= hidden_field_tag :selected_tab_id, @selected_tab_id%>
      </li>
      <li>
        <%= f.label :description, "Description<span class='mandatoryStar'>*</span><br/>600 characters max<br/><span id='gift_voucher_description_count'>600</span> left" %>
        <%= f.text_area :description, :cols => "35" %>
      </li>
      <li>
        <div class="left-input">Availability</div>
		<div class="right-label"><%= f.radio_button :nation_wide, "true" %><label for="gift_voucher_nation_wide_true">Available New Zealand-wide</label></div>
	  </li>
    <li>
		<div class="left-input"></div>
		<div class="right-label"><%= f.radio_button :nation_wide, "false" %><label for="gift_voucher_nation_wide_false">Offered to people in your region only</label></div>
	  </li>
      <li>
        <label><%=subcategories_label%></label>
      </li>
      <li>
        <%= f.label :subcategory_id, 'Category:' %><%= f.select :subcategory_id, @subcategories, {:prompt => "- Please select -", :include_blank => true } %><br/>
      </li>
</ol>