<% use_tinymce -%>
  <ol>
	  <li><span class='mandatoryStar'>*</span>=mandatory field</li>
      <li>
        <%= f.label :title, "Title<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :description, "Description<span class='mandatoryStar'>*</span>" %>
        <%= f.text_area :description, :cols => "35" %>
      </li>
      <li>
        <label><%=subcategories_label%></label>
      </li>
      <li>
        <%= f.label :subcategory_id, 'Category:' %><%= f.select :subcategory_id, @subcategories, {:prompt => "- Please select -", :include_blank => true } %><br/>
      </li>
</ol>