<% hide_state = nil if local_assigns[:hide_state].nil? -%>
<% review = nil if local_assigns[:review].nil? -%>
<h4 class="article-title"><%=link_to gift_voucher.title, gift_vouchers_show_path(gift_voucher.author, gift_voucher.slug, :index_public => !hide_state.nil?, :review => review) %><% unless hide_state%> (<span class="<%=gift_voucher.workflow_css_class%>"><%=gift_voucher.state%></span>)<%end%></h4>
<% if !hide_state.nil?%><div class="by-author">by <%= author_link(gift_voucher.author) %></div><%end%><%unless gift_voucher.subcategory.nil? %><div class="article-subcategories">[<%= link_to gift_voucher.subcategory.name, gift_vouchers_for_subcategory_path(gift_voucher.subcategory.slug)%>]</div><%end%>
<p><%=first_sentence(white_list(gift_voucher.description))%></p>
