<% use_tinymce -%>
<% javascript 'mass-emails'%>
<% form_for @mass_email do |f| %>
  <%= f.error_messages :header_message => "Please try again", :message => "Your email could not be saved"%>
  <div id="body_expressions">
  <p>You can use the following expressions in your emails:</p>
  <ul>
    <li>%first_name%</li>
    <li>%last_name%</li>
    <li>%name%</li>
    <li>%email%</li>
    <li>%USER_PROFILE_URL%</li>
    <li>%password% (<em style="color: red">Warning:</em> if you use this, the password will be reset)</li>
  </ul>
  </div>
  <ol>
      <li>
        <%= f.label :email_type, "Type<span class='mandatoryStar'>*</span>" %>
        <%= f.select :email_type, @email_types  %>
      </li>
      <li id="newsletters_list">
        <%= f.label :newsletter_id, "Newsletter<span class='mandatoryStar'>*</span>" %>
        <%= f.select :newsletter_id, @newsletters %>
      </li>
      <li>
        <%= f.label :subject, "Subject<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :subject %>
      </li>
      <li id="mass_email_body_wrapper">
        <%= f.label :body, "Body<span class='mandatoryStar'>*</span>" %>
        <%= f.text_area :body, :cols => "35" %>
      </li>
      <div class="buttons">
        <label for=""></label>
        <%= submit_tag 'Save' %>
      </div>
</ol>
<% end %>
