<%= title "Forgot Your Password?" %>
<% form_for @password do |f| %>
<%= f.error_messages :header_message => "Please try again", :message => "Your password could not be sent" %>
		<ol>
			<li>			
		    <%= f.label "Your email address" %>
		    <%= f.text_field :email %>
			</li>
		</ol>
	<div class="buttons">
  	<%= f.submit "Submit", :style => "float: right"  %>
	</div>
<% end %>
<br/>
