  <%= f.error_messages :header_message => "Please try again", :message => "Your tab could not be saved:" %>
    <ol>
	  <li><span class='mandatoryStar'>*</span>=mandatory field</li>
      <li>
        <%= f.label :subcategory_id, 'Modality<span class="mandatoryStar">*</span>:' %>
        <%= f.select :subcategory_id, @subcategories, {:prompt => "- Please select -", :include_blank => true} %>
		<%= f.hidden_field :old_subcategory_id%>
      </li>
      <li id="tab-content-item">
		<% if hide_content == true -%>
        <%= f.label :content1_with, @selected_tab.title1_with, :class => "hidden-label"  %>
        <%= f.text_area :content1_with, :cols => "35", :class => "hidden-text-area"  %>
        <%= f.label :content2_benefits, @selected_tab.title2_benefits, :class => "hidden-label"  %>
        <%= f.text_area :content2_benefits, :cols => "35", :class => "hidden-text-area"  %>
        <%= f.label :content3_training, @selected_tab.title3_training, :class => "hidden-label"  %>
        <%= f.text_area :content3_training, :cols => "35", :class => "hidden-text-area"  %>
        <%= f.label :content4_about, @selected_tab.title4_about, :class => "hidden-label"  %>
        <%= f.text_area :content4_about, :cols => "35", :class => "hidden-text-area"  %>
		<% else -%>
        <%= f.label :content1_with, @selected_tab.title1_with  %>
        <%= f.text_area :content1_with, :cols => "35" %>
        <%= f.label :content2_benefits, @selected_tab.title2_benefits  %>
        <%= f.text_area :content2_benefits, :cols => "35" %>
        <%= f.label :content3_training, @selected_tab.title3_training  %>
        <%= f.text_area :content3_training, :cols => "35"  %>
        <%= f.label :content4_about, @selected_tab.title4_about  %>
        <%= f.text_area :content4_about, :cols => "35" %>
		<% end -%>
      </li>
    </ol>
