  <%= f.error_messages :header_message => "Please try again", :message => "Your tab could not be saved:" %>
    <ol>
	  <li><span class='mandatoryStar'>*</span>=mandatory field</li>
      <li>
        <%= f.label :title, 'Modality<span class="mandatoryStar">*</span>:' %>
        <%= f.select :title, @subcategories, {:prompt => "- Please select -", :include_blank => true} %>
		<%= f.hidden_field :old_title%>
      </li>
      <li id="tab-content-item">
		<% if hide_content == true -%>
        <%= f.label :content, 'Content:', :class => "hidden-label"  %>
        <%= f.text_area :content, :cols => "35", :class => "hidden-text-area"  %>
		<% else -%>
        <%= f.label :content, 'Content:'  %>
        <%= f.text_area :content, :cols => "35" %>
		<% end -%>
      </li>
    </ol>
