<div id="profile-tabs-left" class="column">
  <ul class="simple" id="profile-tabs">
    <li class="tab<%if !@selected_tab.nil? && @selected_tab.slug == Tab::ARTICLES%> selected-tab<%end%>"><a alt="Articles" href="<%= expanded_user_tabs_path(@user, Tab::ARTICLES) %>">Articles</a></li>
    <% @user.tabs.each do |t| -%>
      <li class="tab<%if @selected_tab.slug == t.slug%> selected-tab<%end%>"><a alt="<%=t.title%>" href="<%= expanded_user_tabs_path(@user, t.slug) %>"><%=t.title%></a></li>
    <% end -%>
    <% if own_profile?(@user) -%>
      <li id="add-tab" class="tab"><a alt="Add a new tab to your profile" href="<%= action_tab_path(:action => "create")%>">Add a new tab...</a></li>
    <% end -%>
  </ul>
</div>
<div id="profile-tabs-right" class="column">
</div>
<div class="cleaner"></div>
<div id="profile-tab-content">
  <% if own_profile?(@user)  && (@selected_tab.nil? || !@selected_tab.virtual?) -%>
    <div id="profile-tabs-nav"><%= @selected_tab.nil? ? "" : render(:partial => "tabs/tab_nav") %></div>
  <% end -%>
  <% if own_profile?(@user)  && !@selected_tab.nil? && @selected_tab.virtual? -%>
    <div id="profile-tabs-nav"><%= render(:partial => @selected_tab.nav) %></div>
  <% end -%>
  <div>
    <% unless @selected_tab.nil? -%>
  <% if !@selected_tab.nil? && @selected_tab.virtual? -%>
          <%= render :partial => @selected_tab.partial %>
      <% else -%>
        <% if params[:action]=="edit" || params[:action]=="update" -%>
          <%= render(:partial => "tabs/form") %>
        <% else -%>
          <%= white_list @selected_tab.content %>
        <% end -%>
      <% end -%>
    <% end -%>
    </div>
</div>

