<%= render :partial => "users/user_nav", :locals => {:selected => "howtos" }  %>
<%= title "Create a new howto article"  %>
<%= link_to "Back to your 'how to' articles", user_howtos_path %>
<% form_for(@how_to) do |f| %>
  <%= f.error_messages :header_message => "Please try again", :message => "Your article could not be saved" %>

  <fieldset>
    <legend>Howto article details</legend>
      <%= render :partial => "form", :locals => {:f => f, :subcategories_label => "Please enter up to 3 categories you would like this article to be listed in:"  }   %>
  </fieldset>
  <div class="buttons">
    <label for=""></label>
    <%= submit_tag 'Create' %>
  </div>
<% end %>