<%= render :partial => "articles/back_links" %>
<div class='cleaner'></div>
<div class="heading-photo"><%= thumbnail_image(@how_to.author) %></div>
<div class="heading-title">
	<%= title @how_to.title %>
	<% page_description(@how_to.summary)%>
	<% page_author(@how_to.author.try(:name))%>
	<div class="publication-author">by <%= author_link(@how_to.author) %></div>
</div>
<%if (is_author?(@how_to) || (is_admin? && !@how_to.approved?))%><div class="publication-actions"><%= render :partial => "reviewer/publication_actions", :locals => {:item => @how_to, :class_name => "how_to" }   %>
<% if is_author?(@how_to) -%>
<div>
      <%= link_to 'Delete', how_to_url(@how_to, :context => @context, :selected_tab_id => @selected_tab_id), :method => "delete", :confirm => "Are you sure? This action can not be undone", :class => "anchor-button delete"  %>
<%= link_to 'Edit', edit_how_to_url(@how_to, :context => @context, :selected_tab_id => @selected_tab_id), :class => "anchor-button" %>
</div><% end -%></div><%end%>
<div class="cleaner"></div>
<%= render :partial => "reviewer/publication_info", :locals => {:item => @how_to} %>
<hr/>
<p><%= @how_to.summary %></p>
<ul>
<% @how_to.how_to_steps.each do |s| -%>
  <li><h3><%= @how_to.step_label.capitalize %> <%= s.position %>: <%= s.title %></h3>
  <p><%= s.body %></p></li>
<% end -%>
</ul>
<% if @how_to.author.active? %><span id="meet-author"><%= link_to "Meet #{@how_to.author.name}", user_url_with_context(@how_to.author)%></span> | <%end%><span class="share-link"><%= render :partial => "search/share_link", :locals => {:url => how_to_url(@how_to) } %></span>