<% if is_author?(@how_to) -%>
<%= link_to "Back to your 'how to' articles", user_howtos_path %>
<% end -%>
<%= title @how_to.title, :h2 %>
<div class="publication-author">by <%= link_to @how_to.author.name, user_path_with_context(@how_to.author.slug) %></div>
<div class="publication-info"><%= render :partial => "reviewer/publication_info", :locals => {:item => @how_to, :class_name => "how_to" }   %>
<% if is_author?(@how_to) -%>
  <%if @how_to.draft? -%>
      <%= link_to 'Delete', how_to_path(@how_to), :method => "delete", :confirm => "Are you sure? This action can not be undone"  %>
  <%end -%>
<%= link_to 'Edit', edit_how_to_path(@how_to) %>
<% end -%></div>
<div class="cleaner"></div>
<hr/>
<p><%= @how_to.summary %></p>
<ul>
<% @how_to.how_to_steps.each do |s| -%>
  <li><h3><%= @how_to.step_label.capitalize %> <%= s.position %>: <%= s.title %></h3>
  <p><%= s.body %></p></li>
<% end -%>
</ul>