<% javascript "edit-payment"%>
<%= title "Payment" %>
<div class="payment-right"><%= @payment.title %> <em class="money"><%=amount_view(@payment.amount+@payment.discount, @payment.currency)%></em><br/>
<% unless @payment.discount == 0 -%>
- Year one discount <em class="money"><%=amount_view(@payment.discount, @payment.currency) %></em><br/>
You pay <em class="money"><%=amount_view(@payment.amount, @payment.currency) %></em><br/>
<br/>
<% end -%>
<% if @payment.user.country.gst? -%>
+GST <em class="money"><%=amount_view(@payment.gst, @payment.currency)%></em><br/>
<%end-%>
Total: <em class="money"><%=amount_view(@payment.total, @payment.currency)%></em></div>
<div class="cleaner"></div>
<hr/>
<% if current_user.has_current_stored_tokens? -%>
	<p class="big-title">
		<% if @pm == :existing %>Use an existing credit card<%else%><%= link_to "Use an existing credit card", edit_payment_url(@payment, :pm => "existing")%><%end%>
		 | 
		<% if @pm == :different %>Use a different card<%else%><%= link_to "Use a different card", edit_payment_url(@payment, :pm => "different")%><%end%>
		</p>
<% if @pm == :existing %><%= render :partial => "payments/existing_card" %><%end%>
<% if @pm == :different %><%= render :partial => "payments/different_card" %><%end%>
<% else -%>
<%= render :partial => "payments/different_card" %>
<% end -%>
<div id="payment-processor">Payments processed by <a href="http://www.paymentexpress.com/about/about_paymentexpress/privacy_policy.html">
<img src="/images/paymentexpress.png" alt="Payment Processor" width="118" height="21" />
</a></div>
