<%= title "Pay by credit card for your #{@payment.title.downcase}" %>
<div class="payment-right"><%= @payment.title %> <em class="money"><%=amount_view(@payment.amount+@payment.discount)%></em><br/>
<% unless @payment.discount == 0 -%>
- Year one discount <em class="money"><%=amount_view(@payment.discount) %></em><br/>
You pay <em class="money"><%=amount_view(@payment.amount) %></em><br/>
<br/>
<% end -%>
+GST <em class="money"><%=amount_view(@payment.gst)%></em><br/>
Total: <em class="money"><%=amount_view(@payment.total)%></em></div>
<div class="cleaner"></div>
<hr/>
<%= render :partial => "payment_nav", :locals => {:selected => "credit" } %>
  <ol>
    <% form_for @payment do |f| %>
      <%= f.error_messages :header_message => "Please try again", :message => "Your payment could not be processed"%>
      <li>
        <div class="left-input">Amount:</div>
        <div class="right-label"><em class="money"><%=amount_view(@payment.total)%></em></div>
      </li>
      <li>
        <%= f.label :first_name, "First name<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :first_name %>
      </li>
      <li>
        <%= f.label :last_name, "Surname<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :last_name %>
      </li>
      <li>
        <%= f.label :address1, "Address" %>
        <%= f.text_area :address1, :rows => 2 %>
      </li>
      <li>
        <%= f.label :city %>
        <%= f.text_field :city %>
      </li>
      <li>
		<% Charity.all.each do |charity| -%>
        <div class="left-input"><label for="payment_charity_id_<%=charity.id%>"><%=charity.name%></label></div>
        <div class="right-label"><%= f.radio_button :charity_id, charity.id %></div>
		<div class="cleaner"></div>
		<% end -%>
      </li>
      <li>
        <%= f.label :card_type %>
        <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["American Express", "american_express"]] %>
      </li>
      <li>
        <%= f.label :card_number, "Card number<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :card_number %>
      </li>
      <li>
        <%= f.label :card_verification, "Card Verification Value (CVV)<span class='mandatoryStar'>*</span>" %>
        <%= f.text_field :card_verification %>
      </li>
      <li>
        <%= f.label :card_expires_on %>
        <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
      </li>
      <div class="buttons">
        <label for=""></label>
        <%= submit_tag 'Process payment' %>
      </div>
    <% end %>
  </ol>
<div id="payment-processor">Payments processed by <a href="http://www.paymentexpress.com/about/about_paymentexpress/privacy_policy.html">
<img src="/images/paymentexpress.png" alt="Payment Processor" width="118" height="21" />
</a></div>
