<%= render :partial => "users/user_nav", :locals => {:selected => "payments" }  %>
<%= title "Your payments"  %>
<h3>Your credit cards</h3>
<%= link_to "Add a credit card", new_stored_token_url%>
<table id="credit_cards" class="admin">
  <tr>
    <th>Number</th>
    <th>Expires</th>
    <th>Actions</th>
  </tr>
<% @stored_tokens.each do |t| -%>
<tr class="<%=cycle('odd', 'even')%>">
  <td><%=t.obfuscated_card_number%></td>
  <td><span<%if t.card_expired?%> class="expired-token"<%end%>><%= t.card_expires_on%><%if t.card_expired?%><br/>** EXPIRED **<%end%></span></td>
  <td><%= link_to "Delete", stored_token_url(t), :method => :delete %> </td>
</tr>
<% end -%>
</table>
<h3>Past payments</h3>
<table id="payments" class="admin">
  <tr>
    <th>Status</th>
    <th>Title</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Action</th>
    <th>Invoice</th>
  </tr>

<% for payment in @payments %>
  <tr class="<%=cycle('odd', 'even')%>">
    <td><span class="<%=payment.status%>"><%=h payment.status.capitalize %></span></td>
    <td><%=h payment.title %></td>
    <td><%=h amount_view(payment.amount.to_s, payment.currency) %> <%unless payment.charity.nil?%><span style="font-size: small">(inc. $10 for <%= payment.charity.name%>)</span><%end%></td>
    <td><%=h payment.created_at %></td>
    <td><% if payment.pending?%><%=link_to "Complete", edit_payment_url(payment)%><%else%>None required<%end%> </td>
    <td><% if payment.completed? && !payment.invoice.nil?%><%= link_to payment.invoice.filename, invoice_url(payment.invoice)%><%end%></td>
  </tr>
<% end %>
</table>