<%= render :partial => "users/user_nav", :locals => {:selected => "payments" }  %>
<%= title "Your payments", :h2  %>

<table id="payments">
  <tr>
    <th>Status</th>
    <th>Title</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Action</th>
  </tr>

<% for payment in @payments %>
  <tr class="<%=cycle('odd', 'even')%>">
    <td><span class="<%=payment.status%>"><%=h payment.status.capitalize %></span></td>
    <td><%=h payment.title %></td>
    <td><%=h amount_view(payment.amount.to_s) %></td>
    <td><%=h payment.created_at %></td>
    <td><% if payment.status == "pending"%><%=link_to "Complete", edit_payment_path(payment)%><%else%>None required<%end%> </td>
  </tr>
<% end %>
</table>