<h1>Listing payments</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Amount</th>
    <th>Comment</th>
    <th>Invoice number</th>
  </tr>

<% for payment in @payments %>
  <tr>
    <td><%=h payment.title %></td>
    <td><%=h payment.user_id %></td>
    <td><%=h payment.amount %></td>
    <td><%=h payment.comment %></td>
    <td><%=h payment.invoice_number %></td>
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payment', new_payment_path %>
