<div class="publication-info">
<% if !item.approved_at.nil? && (is_reviewer? || is_author?(item)) -%>
<div class="approval-date">Approved: <%= item.approved_at %> by <%=link_to item.approved_by.name, expanded_user_url(item.approved_by)%></div>
<%  end -%>
<% if !item.rejected_at.nil? && (is_reviewer? || is_author?(item)) -%>
<div class="rejection-date">Rejected: <%= item.rejected_at %> by <%=link_to item.rejected_by.name, expanded_user_url(item.rejected_by)%>(Reason: <%=item.reason_reject%>)</div>
<%end-%>
<%unless item.published_at.nil?-%>
<div class="publication-date">Published: <%= item.published_at.to_date %></div>
<%end-%>
<% if item.respond_to?(:subcategories)-%>
<div>Directory categories: <span class="article-subcategories"><%= link_articles_subcategories(item)%></span></div>
<% end -%>
<% if item.respond_to?(:blog_subcategories) && item.blog_subcategories.size > 0-%>
<div>Blog category: <span class="article-subcategories"><%= item.blog_subcategories[0].try(:name)%></span></div>
<% end -%>
</div>