<% javascript "admin-activities" %>
<%= render :partial => "admin/admin_nav", :locals => {:selected => "user_activities" }  %>
<% if params[:username].blank? -%>
<%= title "Last activity"%>
Only show activity for user: <input type="text" name="username" id="username"><div id="filter_activity">Go</div>
<% else -%>
<%= title "Last activity for user: #{params[:username]}"%>
<%= link_to "Show activity for all users", user_activities_admin_url%>
<% end -%>
<table class="admin">
  <tr>
    <th>User</th>
    <th>Type</th>
    <th>Extra data</th>
    <th>Logged</th>
    <th>Details</th>
  </tr>
<%= will_paginate @activities%>
<%@activities.each do |s| -%>
<tr class="<%=cycle('odd', 'even')%>">
	<td><%= link_to s.user.try(:name), search_admin_users_url(:search_term => s.user.email) unless s.user.nil? %></td>
	<td><%= s.event_type %></td>
	<td><%unless s.visited_user.nil?%>Visited user: <%= link_to s.visited_user.try(:name), search_admin_users_url(:search_term => s.visited_user.email) %><%end%><%if !s.visited_user.nil? && !s.extra_data.blank?%><br/><%end%>
		<%unless s.extra_data.blank?%><%= s.extra_data %><%end%></td>
	<td><%= time_ago_in_words(s.logged_at)%> ago</td>
	<td><%unless s.user.nil?-%><%= link_to "View all activities for #{s.user.name}", user_activity_admin_url(:id  => s.user_id)%><%end%></td>
</tr>
<%end-%>
</table>
<%= will_paginate @activities%>
