<%= render :partial => "admin/admin_nav", :locals => {:selected => "user_activities" }  %>
<%= title "User activities for #{@user.name}"%>
<table class="admin">
  <tr>
    <th>Logged</th>
    <th>Type</th>
    <th>Extra data</th>
  </tr>
<%= will_paginate @activities%>
<%@activities.each do |s| -%>
<tr class="<%=cycle('odd', 'even')%>">
	<td><%= time_ago_in_words(s.logged_at)%> ago</td>
	<td><%= s.event_type %></td>
	<td><%unless s.visited_user.nil?%>Visited user: <%= s.visited_user.name %><%end%><%if !s.visited_user.nil? && !s.extra_data.blank?%><br/><%end%>
		<%unless s.extra_data.blank?%><%= s.extra_data %><%end%></td>
</tr>
<%end-%>
</table>
<%= will_paginate @activities%>
