<% unless @category.nil? -%>
  <%= title @category.name %>
  <p><%= @category.description %></p>
  <p><%= link_to "Click here to place yourself in this directory", signup_path(:professional => "true", :mt => "full_member" ) %></p>
  <ul class="simple" class="category">
    <% @category.subcategories.each do |s| -%>
      <li><%=link_to s.name, subcategory_url(dasherize(@category.name), dasherize(s.name))%><span class="users-counter"> <%=h s.users_counter%></span></li>
    <% end -%>
  </ul>
<% end -%>