<% unless @category.nil? -%>
  <%= title @category.name %>
  <p><%= @category.description %></p>
  <% unless logged_in? -%>
  <p><%= link_to "Click here to place yourself in this directory", signup_intro_url %></p>
  <% end -%>
  <ul class="simple category">
    <% @category.subcategories.each do |s| -%>
      <li><%=link_to s.name, subcategory_url(@category.slug, s.slug)%><span class="users-counter"> <%=h s.user_count_for_country(@country)%></span></li>
    <% end -%>
  </ul>
  <p class="cleaner"></p>
<% end -%>