<% use_tinymce -%>
<ol>
	<li><span class='mandatoryStar'>*</span>=mandatory field</li>
    <li>
      <%= f.label :title, "Title (max. 255 characters):<span class='mandatoryStar'>*</span>" %>
      <%= f.text_field :title %>
    </li>
    <li>
      <%= f.label :custom1_title, "Custom 1 title (max. 255 characters):" %>
      <%= f.text_field :custom1_title %>
    </li>
    <li>
      <%= f.label :custom1_body, "Custom1 body:" %>
      <%= f.text_area :custom1_body, :cols => "35" %>
    </li>
    <li>
      <%= f.label :custom2_title, "Custom 2 title (max. 255 characters):" %>
      <%= f.text_field :custom2_title %>
    </li>
    <li>
      <%= f.label :custom2_body, "Custom2 body:" %>
      <%= f.text_area :custom2_body, :cols => "35" %>
    </li>
    <li>
      <%= f.label :special_offers, "Trial sessions:" %>
  	</li>
	 <% @special_offers.each_with_index do |offer, i| -%>		
    <li>
      <div class="left-input"><%= check_box_tag( "newsletter[special_offers_attributes][id#{i}]",offer.id, @newsletter.selected_offer?(offer, i), :class => "special_offer_checkbox" ) %></div>
      <div class="right-label"><label for="newsletter_special_offers_attributes_id<%=i%>"><%= offer.label%></label></div>
    </li>
	<% end -%>
  	<li>
      <%= f.label :competition, "Win Win Win!:" %>
      <%= f.text_area :competition, :cols => "35" %>
    </li>
  	<li>
      <%= f.label :bam_news, "BeAmazing News:" %>
      <%= f.text_area :bam_news, :cols => "35" %>
    </li>
    <li>
      <%= f.label :gift_vouchers, "Gift vouchers:" %>
  	</li>
	 <% @gift_vouchers.each_with_index do |gv, i| -%>		
    <li>
      <div class="left-input"><%= check_box_tag( "newsletter[gift_vouchers_attributes][id#{i}]",gv.id, @newsletter.selected_gift_voucher?(gv, i)) %></div>
      <div class="right-label"><label for="newsletter_gift_vouchers_attributes_id<%=i%>"><%= gv.label%></label></div>
    </li>
	<% end -%>
    <li>
      <%= f.label :users, "In the spotlight:" %>
  	</li>
	 <% @users.each_with_index do |u, i| -%>		
    <li>
      <div class="left-input"><%= check_box_tag( "newsletter[users_attributes][id#{i}]",u.id, @newsletter.selected_user?(u, i)) %></div>
      <div class="right-label"><label for="newsletter_users_attributes_id<%=i%>"><%= u.label%></label></div>
    </li>
	<% end -%>
    <li>
      <%= f.label :articles, "Past month's articles:" %>
  	</li>
	 <% @articles.each_with_index do |a, i| -%>		
    <li>
      <div class="left-input"><%= check_box_tag( "newsletter[articles_attributes][id#{i}]",a.id, @newsletter.selected_article?(a, i)) %></div>
      <div class="right-label"><label for="newsletter_articles_attributes_id<%=i%>"><%= a.label%></label></div>
	  <div class="left-input"></div>
      <div class="right-label"><label class="short-lead" for="newsletter_articles_attributes_id<%=i%>"><%= a.short_lead%></label></div>
    </li>
	<% end -%>
  	<li>
      <%= f.label :upcoming_events, "Upcoming events:" %>
      <%= f.text_area :upcoming_events, :cols => "35" %>
    </li>
    <li>
      <%= f.label :custom3_title, "Custom 3 title (max. 255 characters):" %>
      <%= f.text_field :custom3_title %>
    </li>
    <li>
      <%= f.label :custom3_body, "Custom3 body:" %>
      <%= f.text_area :custom3_body, :cols => "35" %>
    </li>
    <li>
      <%= f.label :custom4_title, "Custom 4 title (max. 255 characters):" %>
      <%= f.text_field :custom4_title %>
    </li>
    <li>
      <%= f.label :custom4_body, "Custom4 body:" %>
      <%= f.text_area :custom4_body, :cols => "35" %>
    </li>
</ol>