<% unless newsletter.custom1_title.blank? || newsletter.custom1_body.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;"><%= newsletter.custom1_title%></h3>
<%= newsletter.custom1_body%>
<% end -%>
<% unless newsletter.custom2_title.blank? || newsletter.custom2_body.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;"><%= newsletter.custom2_title%></h3>
<%= newsletter.custom2_body%>
<% end -%>

<% unless newsletter.special_offers.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;">Special offers</h3>
<ul>
<% newsletter.special_offers.each do |offer| -%>
	<li><%= offer.label(special_offers_show_url(offer.author, offer.slug, :context => "homepage"))%></li>
<% end -%>
</ul>
<% end -%>

<% unless newsletter.competition.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;">Win Win Win!</h3>
<%= newsletter.competition%>
<% end -%>

<% unless newsletter.bam_news.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;">BeAmazing news</h3>
<%= newsletter.bam_news%>
<% end -%>

<% unless newsletter.gift_vouchers.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;">Gift vouchers</h3>
<ul>
<% newsletter.gift_vouchers.each do |gv| -%>
	<li><%= gv.label(gift_vouchers_show_url(gv.author, gv.slug, :context => "homepage"))%></li>
<% end -%>
</ul>
<% end -%>

<% unless newsletter.users.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;">In the spotlight</h3>
<ul>
<% newsletter.users.each do |u| -%>
	<li><%= u.label(full_user_url(:main_expertise_slug => u.main_expertise_slug, :region => u.region.slug, :name => u.slug))%></li>
<% end -%>
</ul>
<% end -%>

<% unless newsletter.articles.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;">Past month's articles</h3>
<ul>
<% newsletter.articles.each do |a| -%>
	<li><%= a.label(articles_show_url(a.author.slug, a.slug, :context => "homepage"))%></li>
<% end -%>
</ul>
<% end -%>

<% unless newsletter.upcoming_events.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;">Upcoming events</h3>
<%= newsletter.upcoming_events%>
<% end -%>

<% unless newsletter.custom3_title.blank? || newsletter.custom3_body.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;"><%= newsletter.custom3_title%></h3>
<%= newsletter.custom3_body%>
<% end -%>

<% unless newsletter.custom4_title.blank? || newsletter.custom4_body.blank? -%>
<h3 style="color:#20ACCD; font-size:18px; margin:0 0 5px 0; padding:10px 0 0;"><%= newsletter.custom4_title%></h3>
<%= newsletter.custom4_body%>
<% end -%>
