<%= render :partial => "admin/admin_nav", :locals => {:selected => "newsletters" }  %>
<%= title "Newsletters"%>
<%= link_to "Create a newsletter", new_admin_newsletter_url   %>
<table class="admin">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Status</th>
    <th>Actions</th>
    <th>Published at</th>
    <th>Published by</th>
  </tr>
<% for newsletter in @newsletters %>
  <tr class="<%=cycle('odd', 'even')%>">
	<td><%= newsletter.title%></td>
	<td><%= newsletter.author.try(:name)%></td>
    <td><span class="<%=newsletter.state%>"><%=h newsletter.state.capitalize %></span></td>
	<td><%= newsletter_action(newsletter)%> | <%=link_to "Edit", edit_admin_newsletter_url(newsletter)%> <% if newsletter.draft?%>| <%=link_to "Delete", admin_newsletter_url(newsletter), :method => "delete" %><%end%> | <%=link_to "Preview", admin_newsletter_url(newsletter)  %></td>
    <td><%= newsletter.published_at %></td>
    <td><%= newsletter.publisher.try(:name) %></td>
  </tr>
<% end %>
</table>