<%= render :partial => "admin/admin_nav", :locals => {:selected => "users" }  %>
<%= title 'Users' %>

<p>Enter a name or email address:
<% form_tag "/admin/users/search", :class => "admin"  do%>
	<%= text_field_tag "search_term", params[:search_term]%>
	<%= submit_tag "Search"%>
<%end%></p>
<div class="cleaner"></div>
<%unless @users.blank? -%>
<p><table class="admin">
	<tbody>
	  <tr>
	    <th>Name</th>
	    <th>Roles</th>
	    <th>Status</th>
	    <th>Login</th>
	  </tr>

	<%@users.each do |u| -%>
  		<tr class="<%=cycle('odd', 'even')%>">
			<td><%= u.name_with_email%></td>
			<td><%= u.roles.map(&:name).map(&:humanize).join(", ")%></td>
			<td><%= u.state%></td>
			<td><%= link_to "Login as #{u.first_name}", :controller => "admin/users", :action => "login", :id => u.id %></td>
		</tr>
	<%end -%>
	</tbody>
</table></p>
<%end -%>