<% content_for :sidebar_content do -%>
	<% unless @articles.blank? -%>
		<h4>Related articles</h4>
		<ul>
		<% @articles.each do |a| -%>
			<li><%= link_to a.title, articles_show_url(a.author.slug, a.slug)%><br/> by <%= a.author.try(:name)%></li>
		<% end -%>
	<% end -%>
		</ul>
<% end -%>

<%= render :partial => "admin/admin_nav", :locals => {:selected => "users" }  %>
<%= title 'Users' %>

<p>Enter a name or email address:
<% form_tag "/admin/users/search", :class => "admin"  do%>
	<%= text_field_tag "search_term", params[:search_term]%>
	<%= submit_tag "Search"%>
<%end%></p>
<div class="cleaner"></div>
<%unless @users.blank? -%>
<p><table class="admin">
	<tbody>
	  <tr>
	    <th>Name</th>
	    <th>Roles</th>
	    <th>Status</th>
	    <th>Actions</th>
	  </tr>

	<%@users.each do |u| -%>
  		<tr class="<%=cycle('odd', 'even')%>" id="user_<%=u.id%>">
			<%= render :partial => "users/user_row", :locals => {:u => u } %>
		</tr>
	<%end -%>
	</tbody>
</table></p>
<%end -%>