<%= render :partial => "admin/admin_nav", :locals => {:selected => "reviews" }  %>
<%= title 'Stuff to review' %>
  <% form_tag '/reviewer/reject' do -%>
        <%= hidden_field_tag "article_id", params[:article_id] %>
        <%= hidden_field_tag "user_profile_id", params[:user_profile_id] %>
        <label for="reason_reject">Reason(it will be sent to the author of the article):</label><%= text_area_tag "reason_reject" %>
        <%= submit_tag "Reject" %>
  <%end -%>
