<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= @page_title || APP_CONFIG[:site_name] %></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <%= stylesheet_link_merged :base  %>
    <%= yield :tinymce %>
    <%= yield :tinymce_init %>
    <%= yield :head %>
  </head>
  <body>
    <div id="header">
      <div class="column-in">
        <%= image_tag 'Header-Shoes.jpg' %>
        <div id="login-info">
          <div id="login-left">
            <a href="/">Home</a> |
			<%= link_to "Our members", :controller => "full_members", :action => "index" %> |
            <% if logged_in? -%>
              Welcome, <%=current_user.name_with_email%> | <% if  current_user.region.nil? || current_user.main_expertise_slug.blank?%> No profile<%else%><%= link_to "Your profile", current_user.full_member? ? expanded_user_path(current_user) : user_edit_path %><%end%> | <%= link_to 'Logout', logout_path %>
            <%else -%>
              <%= link_to 'Login', new_session_path %> | <%= link_to 'Join us', signup_intro_path %> | <%= link_to 'FREE Newsletter', signup_newsletter_path %>
            <% end -%>
          </div>
          <div id="login-right">
            <%= yield :flash %>
            <% if is_admin? -%>
              <span class="important"><%= link_to "Admin interface", reviewer_path(:action => "index" ) %></span>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
    <div id="container">
      <div class="column" id="middle"><div class="column-in">
          <div id="search">
            <% form_tag search_path(:what => "", :where => "" ), :id => "bam-search-form" do  -%>
              <div id="what-wrapper" class="search-wrapper">
                <label for="what">What: </label>
                <input class="text" type="text" id="what" name="what" value="<%=undasherize(params[:what])%>" />
                <p>Examples: yoga, acupuncture, life coaching, etc.</p>
              </div>
              <div id="where-wrapper" class="search-wrapper">
                <label for="where">Where: </label>
                <input class="text" type="text" id="where" name="where" value="<%=undasherize(params[:where])%>"  />
                <p>Examples: wellington city, canterbury, auckland city, etc.</p>
              </div>
              <div id="search-submit-wrapper" class="search-wrapper">
                <%= submit_tag "Search", :class => "submit"  %>
              </div>
            <%end%>
          </div>
          <div class="cleaner"></div>
          <div id="mccont">
            <%= flash_messages %>
            <%= yield :layout %>
          </div>

        </div>
      </div>

      <div class="column" id="left"><div class="column-in">
          <ul class="simple left-items" id="categories">
            <% @categories.each do |c| -%>
              <li<%if c.id == @category_id%> class="selected"<%end%>><a href="<%= category_url(dasherize(c.name))%>"><%=c.name%> <span class="users-counter"><%=c.users_counter%></span></a></li>
            <%end -%>
          </ul>
		<ul class="simple left-items">
			<% @counters.each do |c| -%>
		      <li<%if c.id == @counter_id%> class="selected"<%end%>><%= link_to c.title, {:controller => "/"+c.controller_name, :action => c.action_name} %> <span class="users-counter"><%= c.count%></span></li>
		    <%  end -%>
		</ul>
		<div id="bam-meet-experts"><%= link_to "Meet our resident experts", :controller => "resident_experts", :action => "index"  %></div>
          <div class="nav-expert">
              <a id="prev-expert" class="nav-left" href="#">&lt;Prev</a>
              <a id="next-expert" class="nav-right" href="#">Next&gt;</a>
          </div>
          <div class="cleaner"></div>
          <div id="pics-resident-experts" class="pics">
            <%= render :partial => "resident_experts/gallery"  %>
          </div>
          </div>
        </div>
      </div>
        <div class="column" id="right"><div class="column-in">BANNER HERE
        </div></div>
    <div id="footer"><div class="column-in">
        <p>&copy;Wellbeing Directory, part of the Elevate Group Ltd</p>
    </div></div>
    <% if ENV["RAILS_ENV"] == "production" -%>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-8125380-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <% end -%>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
    <%= javascript_include_merged :base %>
    <%= yield :js %>
  </body>
</html>
