<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta name="google-site-verification" content="8qbSMvHQkJw2-GlyH8bvxWGcj_m95s1U-bHzgjFumfg" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><%= @page_title || "#{APP_CONFIG[:site_name]} - #{@country.name} premier site for health, wellbeing and development"%></title>
<meta name="keywords" content="<%=@page_title || "#{APP_CONFIG[:site_name]} - #{@country.name} premier site for health, wellbeing and development"%>"/>
<meta name="description" content="<%= @page_description || "Looking for well-being professionals in #{@country.name}? Thousands of #{@country.name} well-being companies listed. - Be Amazing - be well. be bold. be you."%>"/>
<meta name="author" content="<%=@page_author || "Be Amazing"%>"/>
<meta name="copyright" content="Be Amazing"/>
<link rel="accessibility" href="/accessibility" title="Accessibility details"/>
<link rel="help" href="help/" title="Help"/>
<link rel="home" href="/" title="Home page"/>
<link rel="Shortcut Icon" type="image/png" href="/images/favicon.png"/>
<%= stylesheet_link_merged :base_michael  %>
<%= yield :tinymce %>
<%= yield :tinymce_init %>
<%= yield :head %>
<link rel="stylesheet" href="/stylesheets/print.css" media="print" type="text/css" />

<!--[if lte IE 5.5]>
		<link rel="stylesheet" type="text/css" href="/stylesheets/ie5.css" media="screen" />
	<![endif]-->
<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" media="screen" />
	<![endif]-->
<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" media="screen" />
	<![endif]-->
</head>
<body id="home">
<!--Accessibility Info Starts -->
<ul class="aural">
  <li><a href="#content" accesskey="[" title="access key: [">Skip to main content</a></li>
  <li><a href="#search" accesskey="3" title="access key: 3">Skip to search box</a></li>
  <li><a href="#categoryList" accesskey="2" title="access key: 2">Skip to category list</a></li>
</ul>
<!--Accessibility Info Ends -->
<hr class="hide noprint"/>

<!--Container Starts -->
<div id="container"> 
<!--Public Navigation Starts -->
  <ul id="navPublic">
    <li><%= link_to "Home", root_url%></li>
    <li><%= link_to 'About Us', about_url  %></li>
    <li><%= link_to 'Contact Us', contact_url  %></li>
    <li><%= link_to 'Blog', "http://www.zingabeam.com", :target => "_blank"  %></li>
  </ul>
  <!--Public Navigation Ends -->
  <!--Member Navigation Starts -->
  <ul id="navMembers">
    <% if logged_in? -%>
      <li><%=current_user.name_with_email%></li>
      <% if is_admin? -%>
        <li><%= link_to "Admin interface", reviewer_url(:action => "index" ) %></li>
      <% end -%>
		<% if  current_user.region.nil? || current_user.main_expertise_slug.blank?%>
		 <li>No profile</li>
		<%else%>
		 <li><%= link_to "Your profile", current_user.full_member? ? expanded_user_url(current_user) : user_edit_url %></li>
		<%end%>
		<li><%= link_to 'Logout', logout_url %></li>
    <%else -%>
	  <li><%= link_to 'FREE Newsletter', signup_newsletter_url(:protocol => APP_CONFIG[:logged_site_protocol]) %></li>
      <li><%= link_to 'Login', new_session_url(:protocol => APP_CONFIG[:logged_site_protocol]) %></li>
	  <li><%= link_to 'Add your profile FREE', signup_intro_url %></li>
    <% end -%>
  </ul>
  <!--Member Navigation Ends -->
  <div class="cleaner">&nbsp;</div>
  <hr class="hide noprint"/>
  <!--Header Starts -->
  <div id="header">
    <h1><a class="<%= @country.country_code.downcase%>" href="/">Be Amazing – <%= @country.name %> premier site for health, wellbeing and development</a></h1>
  </div>
  <hr class="hide noprint"/>
  <!--Header Ends -->
  <!--Search Bar Starts -->
  <a name="search" href="#search" class="skip-dest"></a>
  <% form_tag search_url(:what => "", :where => "" ), :id => "bam-search-form" do  -%>
    <div id="what-wrapper" class="search-wrapper">
      <label for="what">What, Who: </label>
      <input class="text" type="text" id="what" name="what" value="<%=@what%>" />
      <span>e.g. yoga, julie woods</span>
    </div>
    <div id="where-wrapper" class="search-wrapper">
      <label for="where">Where: </label>
      <input class="text" type="text" id="where" name="where" value="<%=@where%>"  />
      <span>e.g. auckland city, canterbury</span>
    </div>
    <div id="search-submit-wrapper">
      <%= submit_tag "Find", :class => "submit"  %>
    </div>
  <%end%>
  
  <!--Search Bar Ends -->
  <hr class="hide noprint"/>
  <!--Sidebar1 Starts -->
  <div id="sidebar1" class="column">
    <div class="columnTop">&nbsp;</div>
	<p id="number-users"><em><%= @number_users%></em> <%= link_to "Members", full_members_url %>,<br/><em><%= @number_services%></em> Listings</p>
    <a name="categoryList" href="#categoryList" class="skip-dest"></a>
    <ul id="categories">
      <% @categories.each do |c| -%>
        <li<%if c.id == @category_id%> class="selected"<%end%>><a href="<%= category_url(c.slug)%>"><%=c.label%> <span class="users-counter"><%=c.users_counter%></span></a></li>
      <%end -%>
    </ul>
    <ul>
		<% @counters.each do |c| -%>
	      <li<%if c.id == @counter_id%> class="selected"<%end%>><%= link_to "#{c.title} <span class=\"users-counter\">#{c.count}</span>", {:controller => "/#{c.controller_name}", :action => "index", :context => "homepage" } %></li>
	    <%  end -%>
    </ul>
	<div id="bam-meet-experts"><h3><%= link_to "Resident Experts", :controller => "/resident_experts", :action => "index"  %></h3>
      <div class="nav-expert">
		<div id="pics-resident-experts" class="pics">
       	<%= render :partial => "resident_experts/gallery" %>
		</div>
      </div>
	</div>
    <div class="columnBottom">&nbsp;</div>
  </div>
  <!--Sidebar1 Ends -->
  <hr class="hide noprint"/>
  <!--MainContent Starts -->
  <div id="contentMain">
  	<a name="content" href="#content" class="skip-dest"></a>
    <div class="columnTop">&nbsp;</div>
    <div class="column-in">
        <%= flash_messages %>
        <%= yield :layout %>	
    </div>
  </div>
  <!--MainContent Ends -->
  <hr class="hide noprint"/>
  <!--Sidebar2 Starts -->
  <div id="sidebar2" class="column">
    <div class="columnTop">&nbsp;</div>
	<div id="welcome_message">"<span class="welcome_message">Live your life your way, achieve more and Be Amazing!</span> A blog for you by <%= @country.name%> Coaches"</div>
	<% if !logged_in? || (logged_in? && !current_user.receive_newsletter?)-%>
	    <%= link_to "<span>FREE Subscribe</span>", signup_newsletter_url(:protocol => APP_CONFIG[:logged_site_protocol]), :class => "newsletterBtn button" %>
	       <p><%= link_to "View past newsletters", newsletters_url%></p>
	<% end -%>
	<div id="networks">
		<h4>Join us on:</h4>
		<div id="network-images"><%= link_to image_tag("linked-in.png"),  "http://www.linkedin.com/groups?gid=2097679&trk=hb_side_g", :alt => "Linked in" %>
		<%= link_to image_tag("twitter.png"),  "https://twitter.com/Beamazingltd", :alt => "Twitter" %>
		<%= link_to image_tag("facebook.png"),  "http://www.facebook.com/pages/Be-Amazing-NZs-home-of-health-well-being-and-development/361000885623", :alt => "Facebook" %>
		</div>
	 </div>
	<div id="sidebar-related-content"><%= yield :sidebar_content%></div>
    </div>
  <!--Sidebar2 Ends -->
  <hr class="hide noprint"/>
  <!--Footer Starts -->
  <div id="footer">
    <p class="floatLeft">&copy; Be Amazing Ltd</p>
	<p class="floatRight">
    <%= link_to "Terms &amp; Conditions", terms_url %> | <%= link_to "Disclaimer", disclaimer_url %> |
	design :: <a href="http://www.catchgraphics.com/">catch graphics</a></p>
  </div>
  <!--Footer Starts -->
</div>
<!--Container Ends -->
<% if ENV["RAILS_ENV"] == "production" -%>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-8125380-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
  document.write(unescape("%3Cscript src='" + gaJsHost + "ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
  document.write(unescape("%3Cscript src='" + gaJsHost + "ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<% else -%>
<%= stylesheet_link_tag 'jquery-ui' %>
<%= javascript_include_tag 'jquery.js' %>
<%= javascript_include_tag 'jquery-ui.js' %>
<% end -%>
<%= javascript_include_tag 'jquery.curvycorners.packed' %>
<% if ENV["RAILS_ENV"] == "production" || ENV["RAILS_ENV"] == "staging" -%>
<script type="text/javascript" src="/javascripts/subcategories-<%=JsCounter.subcats_value%>.js"></script>
<% else -%>
<script type="text/javascript" src="/javascripts/subcategories.js"></script>
<% end -%>
<%= javascript_include_merged :base %>
<%= yield :js %>
</body>
</html>
